extends ../../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Space'

block bodyClasses
  - var isNoHeader = true;
  - var isUserPanel = true;
  - var bodyCls = '';
  - var scripts = ['other']

block header
  - var headerClass = ' is-login'
  - var pageClass = ' _pt0'
  - var isMap = true
  - var isMapNew = true
  - var host = true

block content
  +layout._static
    +e.column_start._start_space
      +e.wrapper
        +space-description
        +space-description-panel

    +e.column_end.nd-hide-sm
      +e.wrapper
        +nd-results._v2
          +e.divider.nd-hide-from-md
            +space-type._gray._fz12.__type
              +nd-box()._green.__box_sz9
              +e.name PRIVATE OFFICES
          each item in getData('space-offers-po.json')
            +nd-results-item._mt23
              +nd-space()._single-offer._single-offer_short.js-layout-show(data-layout-target="offer")
                if item.gallery && item.gallery.images.length === 1
                  +nd-space-media-e()
                    +e.PICTURE.image
                      +e.SOURCE(srcset=item.gallery.images[0])
                      +e.IMG(src=item.gallery.images[0])
                else if item.gallery
                  +gallery(item.gallery)._space.__media.js-nd-gallery
                +e.describe
                  +space-type._gray._fz12.__type.nd-hide-md
                    +nd-box()(class=item.type.box + '__box_sz9')
                    +e.name!=item.type.name
                  if item.title
                    +e.title!=item.title
                  +nd-table._info._info_space._info_space_small-fz.__table
                    tbody
                      tr
                        td Amount of desks
                        td 12
                      tr
                        td Floor area
                        td 257 ft<sup>2</sup>
                      tr
                        td Min. term
                        td 1 month
                      tr
                        td Price
                        td
                          b £ 2,400 per month

    +e.column_start._start_offer._popup(data-layout="offer")
      +e.wrapper
        +offer-description
        +offer-description-panel()._abs(data-offer-panel)
          +e.offer
            +space-type._gray.__type
              +nd-box()._green.__box_sz7
              +e.name PRIVATE OFFICE
            +e.title 13 desks office space
          +e.buttons
            +nd-button._pad10._black.__button.js-nd-arrange-viewing(href="#nd-popup-arrange-viewing" data-min-date="2021-15-4" data-max-date="2021-20-8") Arrange viewing
            +nd-button._pad10.__button(href="#") Request reservation

    +e.column_header(data-layout="offer")
      +layout-header({type: 'page', popup: true})._main._page
      +layout-header({type: 'list', popup: true})._sort

  +nd-section
    .nd-container
      +nd-section-header
        +nd-section-title More places
    +nd-slider(true, false).__slider.js-nd-slider
      each item in getData('nd-spaces.json')
        +nd-space('a').__slide_space.swiper-slide(href="#")
          +nd-space-media()(data-slider-buttons-orientir)
            img(src=item.image)
          +nd-space-colors
            each box in item.boxes
              +nd-box()(class=box + ' __box')
          +nd-space-title()!=item.title
          +nd-space-text()!=item.text
      each item in getData('nd-spaces.json')
        +nd-space('a').__slide_space.swiper-slide(href="#")
          +nd-space-media()(data-slider-buttons-orientir)
            img(src=item.image)
          +nd-space-colors
            each box in item.boxes
              +nd-box()(class=box + ' __box')
          +nd-space-title()!=item.title
          +nd-space-text()!=item.text

block panels
  //- +nd-offer-panel.nd-hide-from-md

block popups
  +nd-popup-arrange-viewing#nd-popup-arrange-viewing
  //- +popup-offer-types#popup-offer-types
