extends ../../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Space'

block bodyClasses
  - var isNoHeader = true;
  - var isNoFooter = true;
  - var isUserPanel = true;
  - var bodyCls = '';
  - var scripts = ['search']

block header
  - var headerClass = ' is-login'
  - var pageClass = ' _nopad'
  - var isMap = true
  - var isMapNew = true
  - var host = true

block content
  +layout._stable
    +e.column_start._start_space
      +e.wrapper
        +space-description-v2
        +space-description-panel

    +e.column_end.nd-hide-sm
      +e.wrapper
        +nd-results._v2
          each list in getData('space-offers-dividers.json')
            +e.subheader!=list.title
            each item in list.list
              +nd-results-item._mt23
                +nd-space()._single-offer._single-offer_short.js-layout-show(data-layout-target="offer" data-layout-title=item.title data-layout-title-color=item.type.box.substring(1))
                  if item.gallery && item.gallery.images.length === 1
                    +nd-space-media-e()
                      +e.PICTURE.image
                        +e.SOURCE(srcset=item.gallery.images[0])
                        +e.IMG(src=item.gallery.images[0])
                  else if item.gallery
                    +gallery(item.gallery)._space.__media.js-nd-gallery
                  +e.describe
                    +space-type._gray._fz12.__type.nd-hide-md
                      +nd-box()(class=item.type.box + ' __box_sz9')
                      +e.name!=item.type.name
                    if item.title
                      +e.title!=item.title
                    +nd-table._info._info_space._info_space_small-fz.__table
                      tbody
                        tr
                          td Amount of desks
                          td 12
                        tr
                          td Floor area
                          td 257 ft<sup>2</sup>
                        tr
                          td Min. term
                          td 1 month
                        tr
                          td Price
                          td
                            b £ 2,400 per month

    +e.column_start._start_offer._popup(data-layout="offer" data-layout-main)
      +e.wrapper
        +offer-description-v2
        +offer-description-panel()._fixed.is-visible.nd-hide-from-sm
          +e.buttons
            +nd-button._pad10._black.__button.js-nd-arrange-viewing(href="#nd-popup-arrange-viewing" data-min-date="2021-15-4" data-max-date="2021-20-8") Arrange viewing
            +nd-button._pad10.__button(href="#") Request reservation

    +e.column_header(data-layout="offer")
      +layout-header({type: 'page', popup: true})._main._page
      +layout-header({type: 'list2', popup: true})._sort-v2


  +modals('div')
    +modal({header: {title: 'Offer type'}, footer: false})#sort-offer
      +e.list
        each item in [{title: 'All listings', value: 'All listings', name: 'sortOffer', checked: true}, {title: 'Private office', value: 'Private office', name: 'sortOffer'}, {title: 'Fixed desk', value: 'Fixed desk', name: 'sortOffer'}, {title: 'Hot desk', value: 'Hot desk', name: 'sortOffer'}, {title: 'Meeting room', value: 'Meeting room', name: 'sortOffer'}, {title: 'Day pass', value: 'Day pass', name: 'sortOffer'}]
          +styled-radio(item.title)._sort.__item
            if item.checked
              +e.INPUT.input(type="radio", value=item.value, name=item.name, data-modal-item, data-modal-item-value=(item.value), data-modal-item-type="sortOffer" checked)
            else
              +e.INPUT.input(type="radio", value=item.value, name=item.name, data-modal-item, data-modal-item-value=(item.value), data-modal-item-type="sortOffer")


  +modals('FORM')#form-listing-sort(action="/")
    +modal({header2: {title: 'Filter'}, footer: false})._type3#listing-sort
      +e.list
        each item in [{title: 'All listings', value: 'All listings', name: 'lsort', checked: true}, {title: 'Day pass', value: 'Day pass', name: 'lsort'}, {title: 'Private office', value: 'Private office', name: 'lsort'}, {title: 'Co-Working', value: 'Co-Working', name: 'lsort'}, {title: 'Meeting Room', value: 'Meeting Room', name: 'lsort'}]
          +styled-radio(item.title)._sort-v2.__item
            if item.checked
              +e.INPUT.input(type="radio", value=item.value, name=item.name, data-modal-item, data-modal-item-value=(item.value), data-modal-item-type="lsort" checked)
            else
              +e.INPUT.input(type="radio", value=item.value, name=item.name, data-modal-item, data-modal-item-value=(item.value), data-modal-item-type="lsort")

block panels
  +share-popover#share-popover

block popups
  +nd-popup-arrange-viewing#nd-popup-arrange-viewing
  //- +popup-offer-types#popup-offer-types
