mixin inputbox()
  .inputbox&attributes(attributes)
    block

mixin input()
  input.input&attributes(attributes)

mixin input-number(name)
  +b.LABEL.input-numberbox&attributes(attributes)
    +e.field
      +e.label amount:
      +e.INPUT.input.js-numberbox-input(type="text" name=name value="0")
    +e.button.js-numberbox-minus
    +e.button.js-numberbox-plus

mixin input-numbers(name, placeholder, min, max)
  +b.input-numbers&attributes(attributes)
    - if (min && max) {
      +input.input-numbers__input.js-numberbox-input(type="text" name=name placeholder=placeholder data-min=min data-max=max)
    - } else if (max) {
      +input.input-numbers__input.js-numberbox-input(type="text" name=name placeholder=placeholder data-max=max)
    - } else if (min) {
      +input.input-numbers__input.js-numberbox-input(type="text" name=name placeholder=placeholder data-min=min)
    - } else {
      +input.input-numbers__input.js-numberbox-input(type="text" name=name placeholder=placeholder)
    - }
    +e.buttons
      +e.button.js-numberbox-minus
      +e.button.js-numberbox-plus

mixin textarea()
  textarea.textarea&attributes(attributes)
    block

mixin select()
  select.select&attributes(attributes)
    block

mixin checkbox(name, value, checked)
  +b.LABEL.checkbox&attributes(attributes)
    - if (checked) {
      +e.INPUT.input(name=name, value=value, checked, type="checkbox")
    - } else {
      +e.INPUT.input(name=name, value=value, type="checkbox")
    - }
    +e.SPAN.box
      +icon('check').__icon
    +e.SPAN.content
      block

mixin radio(name, value, checked)
  +b.LABEL.checkradio&attributes(attributes)
    - if (checked) {
      +e.INPUT.input(name=name, value=value, checked="checked", type="radio")
    - } else {
      +e.INPUT.input(name=name, value=value, type="radio")
    -}
    +e.SPAN.box
    +e.SPAN.content
      block

mixin color-radio(name, value, checked)
  +b.LABEL.color-radio&attributes(attributes)
    - if (checked) {
      +e.INPUT.input(name=name, value=value, type="radio", checked)
    - } else {
      +e.INPUT.input(name=name, value=value, type="radio")
    - }
    +e.SPAN.content
      block

mixin range()
  +b.range&attributes(attributes).js-range
    block
