mixin nd-input()
  +b.INPUT.nd-input&attributes(attributes)

mixin nd-input-number(data)
  - var val = data.value || 0;
  - var addClass = data.readonly ? ' is-readonly' : '';
  +b.LABEL.nd-input-numberbox&attributes(attributes)(class=addClass)
    +e.field
      +e.label amount:
      if data.readonly
        +e.INPUT.input.js-numberbox-input(type="text" name=data.name value=val readonly)
      else
        +e.INPUT.input.js-numberbox-input(type="text" name=data.name value=val)
    +e.button.js-numberbox-minus
    +e.button.js-numberbox-plus

//- mixin input-numbers(name, placeholder, min, max)
//-   +b.input-numbers&attributes(attributes)
//-     - if (min && max) {
//-       +input.input-numbers__input.js-numberbox-input(type="text" name=name placeholder=placeholder data-min=min data-max=max)
//-     - } else if (max) {
//-       +input.input-numbers__input.js-numberbox-input(type="text" name=name placeholder=placeholder data-max=max)
//-     - } else if (min) {
//-       +input.input-numbers__input.js-numberbox-input(type="text" name=name placeholder=placeholder data-min=min)
//-     - } else {
//-       +input.input-numbers__input.js-numberbox-input(type="text" name=name placeholder=placeholder)
//-     - }
//-     +e.buttons
//-       +e.button.js-numberbox-minus
//-       +e.button.js-numberbox-plus

mixin nd-textarea()
  +b.TEXTAREA.nd-textarea&attributes(attributes)
    block

mixin nd-select()
  +b.SELECT.nd-select&attributes(attributes)
    block

mixin nd-checkbox(data)
  +b.LABEL.nd-checkbox&attributes(attributes)
    if data.checked
      if data.required
        +e.INPUT.input(name=data.name, value=data.value, checked, type="checkbox", required)
      else if data.checker
        +e.INPUT.input(name=data.name, value=data.value, checked, type="checkbox", data-checker=data.checker)
      else if data.switch
        +e.INPUT.input(name=data.name, value=data.value, checked, type="checkbox", data-form-switch=data.switch)
      else
        +e.INPUT.input(name=data.name, value=data.value, checked, type="checkbox")
    else if data.required
      if data.checker
        +e.INPUT.input(name=data.name, value=data.value, type="checkbox", required, data-checker=data.checker)
      else if data.switch
        +e.INPUT.input(name=data.name, value=data.value, type="checkbox", required, data-form-switch=data.switch)
      else
        +e.INPUT.input(name=data.name, value=data.value, type="checkbox", required)
    else
      if data.checker
        +e.INPUT.input(name=data.name, value=data.value, type="checkbox", data-checker=data.checker)
      else if data.switch
        +e.INPUT.input(name=data.name, value=data.value, type="checkbox", data-form-switch=data.switch)
      else
        +e.INPUT.input(name=data.name, value=data.value, type="checkbox")
    +e.SPAN.box
    if !data.nocontent
      +e.SPAN.content
        block

mixin nd-radio(data, tag)
  +b(tag || 'label').nd-checkradio&attributes(attributes)
    if data.checked
      if data.required
        +e.INPUT.input(name=data.name, value=data.value, checked, type="radio" required)
      else
        +e.INPUT.input(name=data.name, value=data.value, checked, type="radio")
    else if data.required
      +e.INPUT.input(name=data.name, value=data.value, type="radio" required)
    else
      +e.INPUT.input(name=data.name, value=data.value, type="radio")
    +e.SPAN.box
    if !data.nocontent
      +e.SPAN.content
        block

mixin radio-button(data, tag)
  +b(tag || 'label').radio-button&attributes(attributes)
    if data.checked
      if data.required
        +e.INPUT.input(name=data.name, value=data.value, checked, type="radio" required)
      else if data.switch
        +e.INPUT.input(name=data.name, value=data.value, checked, type="radio", data-form-switch=data.switch)
      else
        +e.INPUT.input(name=data.name, value=data.value, checked, type="radio")
    else if data.required
      if data.switch
        +e.INPUT.input(name=data.name, value=data.value, type="radio", required, data-form-switch=data.switch)
      else
        +e.INPUT.input(name=data.name, value=data.value, type="radio" required)
    else
      if data.switch
        +e.INPUT.input(name=data.name, value=data.value, type="radio", data-form-switch=data.switch)
      else
        +e.INPUT.input(name=data.name, value=data.value, type="radio")
    +e.wrapper
      +e.SPAN.box
      if !data.nocontent
        +e.SPAN.content
          block

mixin check-button(data)
  +b.LABEL.check-button&attributes(attributes)
    if data.checked
      if data.required
        +e.INPUT.input(name=data.name, value=data.value, checked, type=data.type, required)
      else if data.checker
        +e.INPUT.input(name=data.name, value=data.value, checked, type=data.type, data-checker=data.checker)
      else if data.switch
        +e.INPUT.input(name=data.name, value=data.value, checked, type=data.type, data-form-switch=data.switch)
      else if data.filterCheck
        if data.filterCheck.offerType
          +e.INPUT.input(name=data.name, value=data.value, checked, type=data.type, data-nd-filter-type=data.filterCheck.type, data-nd-filter-value=data.filterCheck.value, data-nd-filter-tag-create=data.filterCheck.tagCreation, data-nd-filter-offer-type=data.filterCheck.offerType)
        else if data.filterCheck.areasSource
          +e.INPUT.input(name=data.name, value=data.value, checked, type=data.type, data-nd-filter-type=data.filterCheck.type, data-nd-filter-value=data.filterCheck.value, data-nd-filter-tag-create=data.filterCheck.tagCreation, data-nd-filter-areas-url=(data.filterCheck.areasSource + ',' + data.filterCheck.tag))
        else
          +e.INPUT.input(name=data.name, value=data.value, checked, type=data.type, data-nd-filter-type=data.filterCheck.type, data-nd-filter-value=data.filterCheck.value, data-nd-filter-tag-create=data.filterCheck.tagCreation)
      else
        +e.INPUT.input(name=data.name, value=data.value, checked, type=data.type)
    else if data.required
      if data.checker
        +e.INPUT.input(name=data.name, value=data.value, type=data.type, required, data-checker=data.checker)
      else if data.switch
        +e.INPUT.input(name=data.name, value=data.value, type=data.type, required, data-form-switch=data.switch)
      else if data.filterCheck
        if data.filterCheck.offerType
          +e.INPUT.input(name=data.name, value=data.value, required, type=data.type, data-nd-filter-type=data.filterCheck.type, data-nd-filter-value=data.filterCheck.value, data-nd-filter-tag-create=data.filterCheck.tagCreation, data-nd-filter-offer-type=data.filterCheck.offerType)
        else if data.filterCheck.areasSource
          +e.INPUT.input(name=data.name, value=data.value, required, type=data.type, data-nd-filter-type=data.filterCheck.type, data-nd-filter-value=data.filterCheck.value, data-nd-filter-tag-create=data.filterCheck.tagCreation, data-nd-filter-areas-url=(data.filterCheck.areasSource + ',' + data.filterCheck.tag))
        else
          +e.INPUT.input(name=data.name, value=data.value, type=data.type, required, data-nd-filter-type=data.filterCheck.type, data-nd-filter-value=data.filterCheck.value, data-nd-filter-tag-create=data.filterCheck.tagCreation)
      else
        +e.INPUT.input(name=data.name, value=data.value, type=data.type, required)
    else
      if data.checker
        +e.INPUT.input(name=data.name, value=data.value, type=data.type, data-checker=data.checker)
      else if data.switch
        +e.INPUT.input(name=data.name, value=data.value, type=data.type, data-form-switch=data.switch)
      else if data.filterCheck
        if data.filterCheck.offerType
          +e.INPUT.input(name=data.name, value=data.value, type=data.type, data-nd-filter-type=data.filterCheck.type, data-nd-filter-value=data.filterCheck.value, data-nd-filter-tag-create=data.filterCheck.tagCreation, data-nd-filter-offer-type=data.filterCheck.offerType)
        else if data.filterCheck.areasSource
          +e.INPUT.input(name=data.name, value=data.value, type=data.type, data-nd-filter-type=data.filterCheck.type, data-nd-filter-value=data.filterCheck.value, data-nd-filter-tag-create=data.filterCheck.tagCreation, data-nd-filter-areas-url=(data.filterCheck.areasSource + ',' + data.filterCheck.tag))
        else
          +e.INPUT.input(name=data.name, value=data.value, type=data.type, data-nd-filter-type=data.filterCheck.type, data-nd-filter-value=data.filterCheck.value, data-nd-filter-tag-create=data.filterCheck.tagCreation)
      else
        +e.INPUT.input(name=data.name, value=data.value, type=data.type)
    +e.SPAN.content
      block

mixin nd-range(data)
  +b.nd-range&attributes(attributes).js-nd-range
    +e.slider(data-nd-range-container)
    if data.output
      +e.output(data-nd-range-output)
        +e.item
          +nd-form-box(data.output.minLabel)(class=(data.output.formboxClass || ''))
            +nd-input(type="text" name=data.output.min placeholder=data.output.minLabel data-nd-range-input-min class=(data.output.inputClass || ''))
        +e.item
          +nd-form-box(data.output.maxLabel)(class=(data.output.formboxClass || ''))
            +nd-input(type="text" name=data.output.max placeholder=data.output.maxLabel data-nd-range-input-max class=(data.output.inputClass || ''))
    block

//- mixin check-input(isChecked)
//-   +b.check-input&attributes(attributes)
//-     +checkbox('', '', isChecked).js-check-input-toggle
//-     +e.content
//-       +form-box('Price', '', '', '&pound;')._icon_left
//-         +input(type="text")
//-       if block
//-         +e.SPAN.text
//-           block
