mixin popup-arrange-viewing()
  .popup-wrapper&attributes(attributes)
    +popup(true).popup-arrange-viewing__
      +e.section(data-record-step="1").is-active
        +calendar('Arrange viewing')
      +e.section(data-record-step="2")
        +e.heading
          +popup-title Arrange viewing
        +e.content
          +form._white
            +form-section._mg33
              +form-section-header._mg9
                +form-section-title('h4')._mid You are about to arrange viewing for
              +info._light-border._xs-reverse
                +e.cell
                  +e.INPUT.input_big(type="text" name="date" data-calendar-output readonly="readonly")
                +e.cell_afend
                  +link-icon('calendar2')(href="#" data-record-step-target="1")._icon_smaller._icon_gray-dark._no-shadow.__link.js-switch-record-step Change date
            +form-section
              +form-section-header._mg21
                +form-section-title('h4')._smaller Please set time:
              +grid.grid_bigger
                +col({xl: 12})
                  +form-section-wrapper
                    +form-box('')
                      +select.js-select-input(name="time")
                        - for (var i = 0; i < 24; i++) {
                          - var zeroi = (`0${i}`).slice(-2);
                          if (i === 8)
                            option(value=zeroi + ':00')!=(zeroi + ':00')
                            option(value=zeroi + ':30' selected)!=(zeroi + ':30')
                          else
                            option(value=zeroi + ':00')!=(zeroi + ':00')
                            option(value=zeroi + ':30')!=(zeroi + ':30')
                        - }
              +e.buttons
                +button('button')(type="submit")._short._wide Request viewing

mixin nd-popup-arrange-viewing()
  +nd-popup.nd-popup-arrange-viewing__&attributes(attributes)
    +nd-popup-header
      +nd-popup-back().js-nd-popup(href="#popup-offer-types") Back
      +nd-popup-title Set viewing date/time
    +nd-popup-content()
      .nd-container
        +e.calendar(data-dates-container)
        block
    +nd-popup-footer()(data-dates-timeblock)
      .nd-container
        +arrange-viewing-form
