extends ../../layouts/redesign-default

block head
  - var pageTitle = 'SpacePool - Ui-kit'

block content
  +ui-kit
    +e.navigation.js-scrollbar-light
      +e.navigation-burger
      +e.UL.navigation__list

    +ui-kit-head
      p Logo in header .nd-logo
      br
      +nd-logo
      br
      p Logo in footer .nd-logo_footer
      br
      +nd-logo._footer
      +e.name SpacePool new design

    //- Хэдер
    +ui-section
      +ui-nd-section-head
        h2 Хэдер (Header)
        p Блок: components/header
        p Состояние при логине хэдеру добавляется класс is-login
        +nd-button(onclick="$('.header').toggleClass('is-login')") Log In

    //- Шрифты и контентная зона
    +ui-section
      +ui-section-head
        h2 Шрифты и контентная зона
        p Основной шрифт: ProximaNova ($font-main), font-weight: 100, 300, 400, 500, 600, 700, 800
        p Дополнительные шрифты: Stolzl ($font-stolzl) и Stolzl Book ($font-stolzl-book), font-weight: 400, 500
        p Переменные находятся в файле styles/helpers/_variables.scss
        p Шрифты подключены в styles/helpers/_fonts.scss
        p Контентная зона: blocks/content-zone
      +ui-section-content()
        +ui-description .content-zone
        +ui-special()
          +content-zone
            h1 Заголовок H1 (heading-1)
            h2 Заголовок H2 (heading-2)
            h3 Заголовок H3 (heading-3)
            h4 Заголовок H4 (heading-4)
            h5 Заголовок H5 (heading-5)
            h6 Заголовок H6 (heading-6)
            p Текст p (text)<br> Цитата внутри текста p: <q>Цитата q</q>
            p <small>Тег small внутри p (text-small)</small>
            p ссылка внутри текста
              a(href="#") ссылка
            blockquote Цитата blocquoute
            ul
              li Элемент списка
                ul
                  li Элемент списка
                  li Элемент списка
                  li Элемент списка
              li Элемент списка
              li Элемент списка

    +ui-section
      +ui-section-head
        h2 Scroll form
        p Блок: blocks/scroll-form
      +ui-section-content()
        +grid
          +col(3)
            +scroll-form-v3

    //- Кнопки
    +ui-section
      +ui-section-head
        h2 Кнопки
        p Блок: blocks/button
      +ui-section-content()
        +ui-elements-list()
          +nd-button()(href="#") .nd-button
          +nd-button()(href="#")._border .nd-button_border
          +nd-button('button')(disabled) .nd-button:disabled
          +nd-button()._border.is-disabled(href="#") .nd-button.is-disabled (если ссылка)
          +nd-button-icon('', {icon: 'select-arrow'})(href="#") .nd-button_icon
          +nd-button-icon('', {icon: 'nd-user', iconLeft: true})(href="#") .nd-button_icon
          +nd-button()._pad10(href="#") .nd-button_pad10
          +nd-button()._fz17 .nd-button_fz17
          +nd-button()._fz15 .nd-button_fz15
          +nd-button()._md-fz15 .nd-button_md-fz15
          +nd-button()._sm-fz15 .nd-button_sm-fz15
          +nd-button()._black .nd-button_black
          +nd-button()._h30 .nd-button_h30
          +nd-button()._h60 .nd-button_h60
          +nd-button()(href="#")._border._border_gray .nd-button_border_gray
          +nd-button()(href="#")._border._border_gray-txt .nd-button_border_gray-txt
        +ui-description Кнопки с лоадером
          +nd-button('', true)(href="#").is-loading .button.is-loading
          +nd-button('', true)(href="#")._border.is-loading .button_border.is-loading
        +ui-description При клике на .js-anchor происходит скролл к элементу из атрибута href. Блок: blocks/js-functions/anchor.js
        +nd-button()(href="#section0").js-anchor .js-anchor
        +ui-description При клике на .js-freeze скролл страницы блокируется, на .js-unfreeze разблокируется. Блок: blocks/js-functions/freeze.js. Функции freeze() и unfreeze() можно импортировать и использовать в модалках, бургере или где-то еще
        +ui-elements-list()
          +nd-button()(href="#").js-freeze .js-freeze
          +nd-button()(href="#").js-unfreeze .js-unfreeze

    //- Ссылки
    +ui-section
      +ui-section-head
        h2 Ссылки
        p Блок: blocks/link
      +ui-section-content()
        +ui-elements-list()(style="font-size: 18px; line-height: 1.2")
          li
            +nd-link()(href="#") .nd-link
          li
            +nd-link()._underline(href="#") .nd-link_underline
          li
            +nd-link-icon('nd-user')(href="#") .nd-link_icon
          li
            +nd-link-icon('arrow5')._back(href="#") .nd-link_back

    //- Элементы формы
    +ui-section
      +ui-section-head
        h2 Элементы формы
        p Блок: blocks/form-elements и blocks/form-box
      +ui-section-content()
        +ui-elements-list()
          li
            +nd-form-box('.nd-input')
              +nd-input()(type="text" name="v1")
          li
            +nd-form-box('.nd-input_h40')._h40
              +nd-input()._h40(type="text" name="v2")
          li
            +nd-form-box('.nd-input_open')
              +nd-input()._open(type="text" name="v3")
          li
            +nd-form-box('.nd-input_date').js-nd-datepicker
              +nd-input()._date(type="text" name="v3" data-dates-result readonly)
              +e.dates(data-dates-container)
          li
            +nd-form-box('.nd-choices')
              +nd-select().js-nd-select(name="v4")
                each item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                  option(value=item) option #{item}
          li
            +nd-form-box('.nd-choices_h40')._h40
              +nd-select().js-nd-select(name="v5" data-choices-classes="nd-choices_h40")
                each item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                  option(value=item) option #{item}
          li
            +nd-form-box('.nd-choices_open')
              +nd-select().js-nd-select(name="v6" data-choices-classes="nd-choices_open")
                each item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                  option(value=item) option #{item}
          li
            +nd-form-box('.nd-choices_popup')
              +nd-select().js-nd-select(name="v7" data-choices-popup="data-choices-popup" data-mobile-title="Choices Popup")
                each item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                  option(value=item) option #{item}
          li
            +nd-form-box('.nd-choices_white')
              +nd-select().js-nd-select(name="v8" data-choices-classes="nd-choices_white")
                each item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                  option(value=item) option #{item}
          li
            +nd-form-box('.nd-textarea')
              +nd-textarea()(name="textarea")
          li
            +nd-checkbox({name: 'checkbox', value: 'check1', checked: false}) .nd-checkbox no checked
          li
            +nd-checkbox({name: 'checkbox', value: 'check2', checked: true}) .nd-checkbox no checked
          li
            +nd-radio({name: 'radio', value: 'radio1', checked: false}) .nd-radio no checked
          li
            +nd-radio({name: 'radio', value: 'radio2', checked: true}) .nd-radio checked
          li
            +radio-button({name: 'radio2', value: 'radio1', checked: false}) .radio-button no checked
          li
            +radio-button({name: 'radio2', value: 'radio2', checked: true}) .radio-button checked

    //- Хлебные крошки
    +ui-section
      +ui-section-head
        h2 Breadcrumbs
        p Блок: blocks/breadcrums
      +ui-section-content()
        +nd-breadcrumbs([["London", "#"], ["Mayfare", "#"], ["EC2A 4SD"]]).__breadcrumbs

    //- Адрес
    +ui-section
      +ui-section-head
        h2 Адрес
        p Блок: blocks/address
      +ui-section-content()
        +address('assets/images/nd/nd-subway.svg') Liverpool Street

    //- Галлерея
    +ui-section
      +ui-section-head
        h2 Галлерея
        p Блок: blocks/gallery
      +ui-section-content()
        +gallery({images: ["assets/images/nd/nd-space-lead.jpg", "assets/images/space-lead1.jpg", "assets/images/space-lead2.jpg", "assets/images/space-lead3.jpg", "assets/images/space-lead4.jpg"], gallerytag: "spacegallery", buttons: true, dots: true, dotsClass: ' nd-hide-from-sm'}).js-nd-gallery

    //- Routes
    +ui-section
      +ui-section-head
        h2 Таблица маршрутов
        p Блок: blocks/routes
      +ui-section-content()
        +routes

    //- Facility
    +ui-section
      +ui-section-head
        h2 Facilities
        p Блок: blocks/facility-list
      +ui-section-content()
        +facility-list

    //- Spaces
    +ui-section
      +ui-section-head
        h2 Space
        p Блок blocks/space
      +ui-section-content
        +ui-elements-list
          li
            - var item = getData('nd-spaces.json')[0]
            +nd-space('a')(href="#")
              +nd-space-media()
                img(src=item.image)
              +nd-space-colors
                each box in item.boxes
                  +nd-box()(class=box + ' __box')
              +nd-space-title()!=item.title
              +nd-space-text()!=item.text
          li
            - var item = getData('nd-spaces-2.json')[0]
            +nd-space('a')(href="#")
              +nd-space-media()
                img(src=item.image)
              +space-type.__type
                +nd-box()(class=item.type.box + ' __box')
                +e.name!=item.type.name
              +nd-space-title()!=item.title
              +nd-space-text()._any-fz15!=item.text
          li
            - var item = getData('nd-spaces-search-around.json')[0];
            +nd-space()._card
              +gallery(item.gallery)._space.__media.js-nd-gallery
              +e.describe
                +e.address
                  each el in item.address
                    span!= el
                +e.title_fz20._proxima._bold!=item.title
                +offer-table(item.offers).__list

    //- Offer table
    +ui-section
      +ui-section-head
        h2 Offer-table
        p Блок blocks/offer-table
      +ui-section-content
        - var item = getData('nd-spaces-search-around.json')[0];
        +offer-table(item.offers)

    //- Switch
    +ui-section
      +ui-section-head
        h2 Switch
        p Блок: blocks/switch
      +ui-section-content()
        +nd-switch({name: 'sw1', value: "1", type: 'twoSide', labels: {on: 'on', off: 'off'}})
        +nd-switch({name: 'sw2', value: "1", type: 'oneSide', labels: {on: 'on', off: 'off'}})
        +nd-switch({name: 'sw3', value: "1", type: 'simple', labels: {on: 'on', off: 'off'}})._light
block panels
  +main-menu


  script
    |
    | $('.ui-kit__section').each(function (i) {
    |   var id = 'section' + i;
    |   var name = $(this).find('.ui-kit__section-head h2').text();
    |   var li = $('<li></li>');
    |   var a = $('<a></a>');
    |
    |   a.attr('href', '#'+id).text(name).addClass('js-anchor');
    |   li.append(a);
    |
    |   $('.ui-kit__navigation__list').append(li);
    |   $(this).attr('id', id);
    | });
