extends ../../layouts/default

block head
  - var pageTitle = 'SpacePool - Ui-kit'

block content
  +ui-kit
    +e.navigation.js-scrollbar-light
      +e.navigation-burger
      +e.UL.navigation__list

    +ui-kit-head
      p Logo in header .logo
      br
      +logo
      br
      p Logo in footer .logo_footer
      br
      +logo-image._footer
      br
      p Logo in footer .logo_short
      br
      +logo-image-short._short
      +e.name SpacePool

    //- Хэдер
    +ui-section
      +ui-section-head
        h2 Хэдер (Header)
        p Блок: components/header
        p Состояние при логине хэдеру добавляется класс is-login
        +button(onclick="$('.header').toggleClass('is-login')") Log In

    //- Сетка
    +ui-section._grid
      +ui-section-head
        h2 Сетка
        p Отступы слева и справа от экрана: 40px ($container-padding)
        p Отступы слева и справа от экрана на мобильныx: 20px ($container-padding-mobile)
        p Максимальная ширина контейнера с учетом паддингов: 1700px ($container-width)
        p Ширина контейнера сетки: 100% ($grid-container-width)
        p Колонок: 12 ($grid-cols)
        p Горизонтальное расстояние между колонками: 50px ($grid-gap)
        p Вертикальное расстояние между колонками: 50px ($grid-gap-vertical)
        p Переменные: styles/helpers/_variables.scss
        p Блок: blocks/grid/

      +ui-section-content()
        +ui-special(style="margin-bottom: 20px")
          +content-zone
            H4 Возможные варианты использования
            p +col(12) агалогично +col({ xl: 12 })
            p +col({ xl: 8, lg: 6: md: 5, sm: 7, xs: 12 })
            p
              span Промежуточные брейкпоинты указывать не обязательно
              br
              span При следующей записи - блок будет занимать 6 колонок на всех разрешениях, а на самом маленьком #[i (xs)] 12
            p +col({ xl: 6, xs: 12 })

        +ui-description .grid
        +grid
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)
        br
        +ui-description .grid_big
        +grid.grid_big
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)
        +ui-description .grid_bigger
        +grid.grid_bigger
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)
        +ui-description .grid_layout
        +grid.grid_layout
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)
        +ui-description .grid_blog
        +grid.grid_blog
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)
        +ui-description .grid_no-top
        +grid.grid_no-top
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)
        +ui-description .grid_mid
        +grid.grid_mid
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)

    //- Цвета
    +ui-section
      +ui-section-head
        h2 Цвета сайта
        p Переменные находятся в файле styles/helpers/_variables.scss
      +ui-section-content()
        +ui-elements-list()
          +ui-color('#525a65', '$color-basic', true)
          +ui-color('#86919e', '$color-basic-light', true)
          +ui-color('#121615', '$color-basic-dark', true)
          +ui-color('#858c99', '$color-form-light', true)
          +ui-color('#a0a7ab', '$color-arrow',true)
          +ui-color('#f2f6f6', '$color-bg',true)
          +ui-color('#151b25', '$color-grey-dark',true)
          +ui-color('#2ee0c9', '$color-text-green',true)
          +ui-color('#0caecc', '$color-gradient-one',true)
          +ui-color('#30e3c9', '$color-gradient-two',true)
          +ui-color('#ff9600', '$color-yellow',true)
          +ui-color('#eb4433', '$color-red',true)
          +ui-color('#1dd5f0', '$color-blue',true)
          +ui-color('#29f785', '$color-green',true)
          +ui-color('#ffffff', '$color-white',true)
          +ui-color('#acb5c0', '$color-bc-light',true)
          +ui-color('#303333', '$color-bc-dark',true)


    //- Цвета
    +ui-section
      +ui-section-head
        h2 Градиенты
        p Цвета для градиентов находятся в файле styles/helpers/_variables.scss
        p Сами градиенты в styles/helpers/_gradients.scss
      +ui-section-content()
        +ui-elements-list()
          +ui-gradient('gradient-main', true)._gradient_main
          +ui-gradient('gradient-second', true)._gradient_second

    //- Шрифты и контентная зона
    +ui-section
      +ui-section-head
        h2 Шрифты и контентная зона
        p Основной шрифт: ProximaNova ($font-main), font-weight: 400, 700, 300
        p Переменные находятся в файле styles/helpers/_variables.scss
        p Шрифты подключены в styles/helpers/_fonts.scss
        p Контентная зона: blocks/content-zone
        p Стили всех текстов лежат в файле styles/helpers/_text-styles.scss
      +ui-section-content()
        +ui-description .content-zone
        +ui-special()
          +content-zone
            h1 Заголовок H1 (heading-1)
            h2 Заголовок H2 (heading-2)
            h3 Заголовок H3 (heading-3)
            h4 Заголовок H4 (heading-4)
            h5 Заголовок H5 (heading-5)
            h6 Заголовок H6 (heading-6)
            p Текст p (text)<br> Цитата внутри текста p: <q>Цитата q</q>
            p <small>Тег small внутри p (text-small)</small>
            p ссылка внутри текста
              a(href="#") ссылка
            blockquote Цитата blocquoute
            ul
              li Элемент списка
                ul
                  li Элемент списка
                  li Элемент списка
                  li Элемент списка
              li Элемент списка
              li Элемент списка
        +ui-description .content-zone._mid
        +ui-special()
          +content-zone.content-zone_mid
            h1 Заголовок H1 (heading-1)
            h2 Заголовок H2 (heading-2)
            h3 Заголовок H3 (heading-3)
            h4 Заголовок H4 (heading-4)
            h5 Заголовок H5 (heading-5)
            h6 Заголовок H6 (heading-6)
            p Текст p (text)<br> Цитата внутри текста p: <q>Цитата q</q>
            p <small>Тег small внутри p (text-small)</small>
            p ссылка внутри текста
              a(href="#") ссылка
            blockquote Цитата blocquoute
            ul
              li Элемент списка
                ul
                  li Элемент списка
                  li Элемент списка
                  li Элемент списка
              li Элемент списка
              li Элемент списка
        +ui-description .content-zone._mid2
        +ui-special()
          +content-zone.content-zone_mid2
            h1 Заголовок H1 (heading-1)
            h2 Заголовок H2 (heading-2)
            h3 Заголовок H3 (heading-3)
            h4 Заголовок H4 (heading-4)
            h5 Заголовок H5 (heading-5)
            h6 Заголовок H6 (heading-6)
            p Текст p (text)<br> Цитата внутри текста p: <q>Цитата q</q>
            p <small>Тег small внутри p (text-small)</small>
            p ссылка внутри текста
              a(href="#") ссылка
            blockquote Цитата blocquoute
            ul
              li Элемент списка
                ul
                  li Элемент списка
                  li Элемент списка
                  li Элемент списка
              li Элемент списка
              li Элемент списка
        +ui-description .content-zone._small
        +ui-special()
          +content-zone.content-zone_small
            h1 Заголовок H1 (heading-1)
            h2 Заголовок H2 (heading-2)
            h3 Заголовок H3 (heading-3)
            h4 Заголовок H4 (heading-4)
            h5 Заголовок H5 (heading-5)
            h6 Заголовок H6 (heading-6)
            p Текст p (text)<br> Цитата внутри текста p: <q>Цитата q</q>
            p <small>Тег small внутри p (text-small)</small>
            p ссылка внутри текста
              a(href="#") ссылка
            blockquote Цитата blocquoute
            ul
              li Элемент списка
                ul
                  li Элемент списка
                  li Элемент списка
                  li Элемент списка
              li Элемент списка
              li Элемент списка
        +ui-description .content-zone._smaller
        +ui-special()
          +content-zone.content-zone_smaller
            h1 Заголовок H1 (heading-1)
            h2 Заголовок H2 (heading-2)
            h3 Заголовок H3 (heading-3)
            h4 Заголовок H4 (heading-4)
            h5 Заголовок H5 (heading-5)
            h6 Заголовок H6 (heading-6)
            p Текст p (text)<br> Цитата внутри текста p: <q>Цитата q</q>
            p <small>Тег small внутри p (text-small)</small>
            p ссылка внутри текста
              a(href="#") ссылка
            blockquote Цитата blocquoute
            ul
              li Элемент списка
                ul
                  li Элемент списка
                  li Элемент списка
                  li Элемент списка
              li Элемент списка
              li Элемент списка

    +ui-section
      +ui-section-head
        h2 Scroll form
        p Блок: blocks/scroll-form
      +ui-section-content()
        +grid
          +col(3)
            +scroll-form

    //- Кнопки
    +ui-section
      +ui-section-head
        h2 Кнопки
        p Блок: blocks/button
      +ui-section-content()
        +ui-elements-list()
          +button()(href="#") .button
          +button()(href="#")._border .button_border
          +button()(href="#")._border._border_bg-white .button_border._border_bg-white
          +button()(href="#")._thin-border .button_thin-border
          +button()(href="#")._thin-border._thin-border_bg-white .button_thin-border._thin-border_bg-white
          +button()(href="#")._small .button._small
          +button()(href="#")._smaller .button._smaller
          +button()(href="#")._border._small._border_small .button._border._small._border_small
          +button()(href="#")._border._small._border_narrow-small .button._border._small._border_narrow-small
          +button()(href="#")._thin-border._smaller._thin-border_smaller .button._thin-border._smaller._thin-border_smaller
          +button('button')(disabled) .button:disabled
          +button()._border.is-disabled(href="#") .button.is-disabled (если ссылка)
          +button-plus()(href="#") .button_icon._plus
          +button-icon('', 'select-arrow')(href="#") .button_icon
          +button()(href="#")._square .button_square
          +button()(href="#")._border._square .button_border._square
          +button()(href="#")._wide .button_wide
          +button()(href="#")._short .button_short
          +button()(href="#")._border._short .button._border._short
          +button()(href="#")._red .button_red
          +button()(href="#")._orange .button_orange
          +button()(href="#")._border._orange .button._border._orange
          +button()(href="#")._bright-red .button_bright-red
          +button()(href="#")._bright-red._border .button_bright-red._border
          +button()(href="#")._blue .button_blue
          +button()(href="#")._blue._border .button_blue._border
          +button()(href="#")._green .button_green
          +button()(href="#")._green._border .button_green._border
        +ui-description При клике на .js-anchor происходит скролл к элементу из атрибута href. Блок: blocks/js-functions/anchor.js
        +button()(href="#section0").js-anchor .js-anchor
        +ui-description При клике на .js-freeze скролл страницы блокируется, на .js-unfreeze разблокируется. Блок: blocks/js-functions/freeze.js. Функции freeze() и unfreeze() можно импортировать и использовать в модалках, бургере или где-то еще
        +ui-elements-list()
          +button()(href="#").js-freeze .js-freeze
          +button()(href="#").js-unfreeze .js-unfreeze



    //- Списки
    +ui-section
      +ui-section-head
        h2 Списки
        p Блок: blocks/lists
        p По желанию можно доработать (для каких-то сложных списков). Добавить миксин +list-item и вписать туда шаблон для li
      +ui-section-content()
        +ui-description ul.list
        +ul-list
          li Элемент списка
            +ul-list
              li Элемент списка
              li Элемент списка
              li Элемент списка
          li Элемент списка
          li Элемент списка
        +ui-description ol.list
        +ol-list(ol)
          li Элемент списка
          li Элемент списка
            +ol-list(ol)
              li Элемент списка
              li Элемент списка
              li Элемент списка
          li Элемент списка

    //- Элементы форм
    +ui-section
      +ui-section-head
        h2 Элементы форм
        p Блоки: blocks/form-elements и blocks/form-box
      +ui-section-content()
        +grid.grid_big
          +col(6)
            +ui-description .input
            br
            +form-box('Плейсхолдер')
              +input(placeholder="Плейсхолдер")
          +col(6)
            +ui-description .input._fz17
            br
            +form-box('Плейсхолдер')._fz17
              +input.input_fz17(placeholder="Плейсхолдер")
          +col(6)
            +ui-description .input._bold
            br
            +form-box('Плейсхолдер')._bold
              +input.input_bold(placeholder="Плейсхолдер")
          +col(6)
            +ui-description .select.js-select
            br
            +form-box('Плейсхолдер')
              +select.js-select-input
                option(value="" placeholder) Плейсхолдер
                option(value="Опция 1") Опция 1
                option(value="Опция 2") Опция 2
                option(value="Опция 3") Опция 3
          +col(6)
            +ui-description .js-datepicker<br> Параметры задаются через дата-атрибуты
            br
            +form-box('Выберите дату', 'calendar2')
              +input(placeholder="Выберите дату" readonly).js-datepicker
          +col(6)
            +ui-description .js-datepicker2<br> Параметры задаются через дата-атрибуты
            br
            +form-box('Выберите дату', 'calendar3')
              +input(placeholder="Выберите дату" readonly).js-datepicker2
          +col(6)
            +ui-description Поле ввода номера телефона.<br> Маска привязана через атрибут data-tel-code и data-tel-number
            br
            +form-box('Phone number')._phone
              +input(type="tel" name="phone-code" placeholder="Phone code" data-tel-code).form-box__phone_code
              +input(type="tel" name="phone-number" placeholder="Phone number" data-tel-number).form-box__phone_number
          +col(6)
            +ui-description Поле ввода e-mail.<br>
            br
            +form-box('E-mail')
              +input()(placeholder="E-mail")
          +col(6)
            +ui-description .js-number-input<br> Поле изменения количества
            br
            +form-box()
              +input-number()(placeholder="Количество товара")
            +ui-description Минимум и максимум задаются в атрибутах data-min и data-max
            +form-box('Count')
              +input-numbers('numbers', 'Count', 4, 15)
          +col(12)
            +ui-description .textarea
            br
            +form-box('Текстовое поле')
              +textarea(placeholder="Текстовое поле" rows="1")
          +col(6)
            +ui-description .checkbox
            +inputbox()
              +checkbox('ui-checkbox', 'test', true) Чекбокс
            +ui-description .checkbox._small
            +inputbox()
              +checkbox('ui-checkbox', 'test', true)._small Чекбокс маленький
            +ui-description .checkbox._inverse
            +inputbox()
              +checkbox('ui-checkbox', 'test', true)._inverse Чекбокс обратный
            +ui-description .checkbox:disabled или .checkbox.is-disabled
            +inputbox()
              +checkbox('ui-checkbox', 'test', true).is-disabled Чекбокс отключеный
            +ui-description .checkbox._border
            +inputbox()
              +checkbox('ui-checkbox', 'test', true)._border Чекбокс подчеркнутый
          +col(6)
            +ui-description .checkradio
            +inputbox()
              +ui-elements-list
                +radio('ui-radio', 'test', true) Радиокнопка
                +radio('ui-radio', 'test-2') Радиокнопка
            +ui-description .checkradio._nobox
            +inputbox()
              +ui-elements-list
                +radio('ui-radio2', 'test', true)._nobox Радиокнопка
                +radio('ui-radio2', 'test-2')._nobox Радиокнопка
            +ui-description .checkradio._nobox2
            +inputbox()
              +ui-elements-list
                +radio('ui-radio3', 'test', true)._nobox2 1-2
                +radio('ui-radio3', 'test-2')._nobox2 3-10
            +ui-description .checkradio:disabled или .checkradio.is-disabled
            +inputbox()
              +ui-elements-list
                +radio('ui-radio2', 'test', true).is-disabled Радиокнопка
                +radio('ui-radio2', 'test-2').is-disabled Радиокнопка
            +ui-description .checkradio._border
            +inputbox()
              +radio('ui-radio2', 'test', true)._border Радиокнопка подчеркнутая
              br
              br
              +radio('ui-radio2', 'test-2')._border Радиокнопка подчеркнутая
          +col(6)
            +ui-description .range.js-range<br> Все параметры задаются дата-атрибутами
            +inputbox()
              +range()(data-start='40', data-connect='[true, false]', data-min='0', data-max='100')
            +inputbox()
              +range(true)(data-start="[40, 1000]" data-connect="[false, true, false]" data-min="0" data-max="1000" data-step="10" data-margin="30")
          +col(12)
            +ui-description Селектбоксы
            +grid
              +col(3)
                +ui-description .js-select
                +select.js-select
                  option(value="Опция 1") Опция 1
                  option(value="Опция 2") Опция 2
                  option(value="Опция 3") Опция 3
              +col(3).is-dark
                +ui-description .js-select-light
                +select.js-select-light
                  option(value="" placeholder) Placeholder
                  option(value="Опция 1") Опция 1
                  option(value="Опция 2") Опция 2
                  option(value="Опция 3") Опция 3
              +col(3)
                +ui-description .js-select-dark
                +select.js-select-dark
                  option(value="" placeholder) Placeholder
                  option(value="Опция 1") Опция 1
                  option(value="Опция 2") Опция 2
                  option(value="Опция 3") Опция 3
              +col(3).is-dark
                +ui-description .js-select-color
                +select.js-select-color
                  option(value="" placeholder) Placeholder
                  option(value="Опция 1") Опция 1
                  option(value="Опция 2") Опция 2
                  option(value="Опция 3") Опция 3
          +col(12).is-dark
            +ui-description Цветные радиокнопки
            +grid
              +col(2)
                +ui-description .color-radio._orange
                +color-radio('test-color', '1')._orange Hot Desk
              +col(2)
                +ui-description .color-radio._red
                +color-radio('test-color', '2')._red Dedicated Desk
              +col(2)
                +ui-description .color-radio._blue
                +color-radio('test-color', '3')._blue Meeting Room
              +col(2)
                +ui-description .color-radio._green
                +color-radio('test-color', '4')._green Office Space
              +col(2)
                +ui-description .color-radio._full
                +color-radio('test-color', '5')._full Office Space
          +col(12)
            +ui-description Цветные радиокнопки темные
            +grid
              +col(2)
                +ui-description .color-radio._orange._dark
                +color-radio('test-color2', '1')._orange._dark Hot Desk
              +col(2)
                +ui-description .color-radio._red._dark
                +color-radio('test-color2', '2')._red._dark Dedicated Desk
              +col(2)
                +ui-description .color-radio._blue._dark
                +color-radio('test-color2', '3')._blue._dark Meeting Room
              +col(2)
                +ui-description .color-radio._green._dark
                +color-radio('test-color2', '4')._green._dark Office Space
              +col(2)
                +ui-description .color-radio._full
                +color-radio('test-color2', '5')._full._dark Office Space
              +col(2)
                +ui-description .color-radio._full._big
                +color-radio('test-color2', '6')._full._dark._big Office Space
              +col(2)
                +ui-description .color-radio._green._big
                +color-radio('test-color2', '7')._green._dark._big Office Space

    //-Формы
    +ui-section
      +ui-section-head
        h2 Формы
        p Блок: blocks/form
      +ui-section-content()
        +form
          +form-section
            +form-section-header
              +form-section-title Заголовок Секции
              +form-section-title._small Заголовок Секции маленький
            +form-section-text Текст внутри формы


    //-Табы
    +ui-section
      +ui-section-head
        h2 Табы
        p Блок: blocks/tabs
      +ui-section-content()
        +ui-description табы цветные
        +tabs
          +tab()(data-tab-target="tab1")._orange.active Информация
          +tab()(data-tab-target="tab2")._red Информация
          +tab()(data-tab-target="tab3")._blue Информация
          +tab()(data-tab-target="tab4")._green Информация
        +tabs-content
          +tab-wrapper()(data-tab="tab1" data-tab-group="testtabs").active
            p Это таб 1
          +tab-wrapper()(data-tab="tab2" data-tab-group="testtabs")
            p Это таб 2
          +tab-wrapper()(data-tab="tab3" data-tab-group="testtabs")
            p Это таб 3
          +tab-wrapper()(data-tab="tab4" data-tab-group="testtabs")
            p Это таб 4
        +ui-description табы бесцветные
        +tabs
          +tab()(data-tab-target="tabе1").active Информация
          +tab()(data-tab-target="tabе2") Информация
          +tab()(data-tab-target="tabе3") Информация
          +tab()(data-tab-target="tabе4") Информация
        +tabs-content
          +tab-wrapper()(data-tab="tabе1" data-tab-group="testtabs2").active
            p Это таб 1
          +tab-wrapper()(data-tab="tabе2" data-tab-group="testtabs2")
            p Это таб 2
          +tab-wrapper()(data-tab="tabе3" data-tab-group="testtabs2")
            p Это таб 3
          +tab-wrapper()(data-tab="tabе4" data-tab-group="testtabs2")
            p Это таб 4
        +ui-description табы кнопки
        +tabs
          +tab-container()(data-tab-target="taber1").active Информация
          +tab-container()(data-tab-target="taber2") Информация
          +tab-container()(data-tab-target="taber3") Информация
          +tab-container()(data-tab-target="taber4") Информация
        +tabs-content
          +tab-wrapper()(data-tab="taber1" data-tab-group="testtabs3").active
            p Это таб 1
          +tab-wrapper()(data-tab="taber2" data-tab-group="testtabs3")
            p Это таб 2
          +tab-wrapper()(data-tab="taber3" data-tab-group="testtabs3")
            p Это таб 3
          +tab-wrapper()(data-tab="taber4" data-tab-group="testtabs3")
            p Это таб 4
        +ui-description табы радио-кнопки
        +tabs('div')
          +tab-radio('', '1', 'info', 'checked')._orange() Информация
          +tab-radio('', '2', 'info', '', 'disabled')._red() Информация
          +tab-radio('', '3', 'info')._blue() Информация
          +tab-radio('', '4', 'info')._green() Информация

    //- Попапы
    +ui-section
      +ui-section-head
        h2 Попапы
        p Блок: blocks/popups
      +ui-section-content()
        +ui-description .js-popup
        +link()(href="#testpopup").js-popup Открыть попап
        +ui-description Верстка попапов:
        +link()(onclick="$('.popups').toggle()") Показать попапы
        +popups.__ui-popups
          +popup#testpopup
            +popup-title Тестовый попап
            +content-zone
              p С тестовым контентом

    //- Ссылки
    +ui-section
      +ui-section-head
        h2 Ссылки
        p Блок: blocks/link
        p Стили ссылок: helpers/_link-styles.scss
      +ui-section-content()
        +ui-description .link
        +link()(href="#") Обычная ссылка
        +ui-description .link._bordered
        +link()(href="#")._bordered Подчеркнутая при наведении ссылка
        +ui-description .link._underline
        +link()(href="#")._underline Подчеркнутая ссылка
        +ui-description .link._light-underline
        +link()(href="#")._light-underline Подчеркнутая ссылка
        +ui-description .link._bold
        +link()(href="#")._bold Добавить жирность ссылке
        +ui-description .link._icon
        +link-icon('refresh')(href="#") Ссылка с иконкой
        +ui-description .link._no-shadow
        +link-icon('refresh')(href="#")._no-shadow Ссылка с иконкой без тени
        +ui-description .link._icon_small
        +link-icon('document')(href="#")._icon_small Ссылка с иконкой
        +ui-description .link._smaller
        +link-icon('document')(href="#")._icon_smaller Ссылка с иконкой
        +ui-description .link._mid-small
        +link-icon('document')(href="#")._icon_mid-small Ссылка с иконкой
        +ui-description .link._dark
        +link-icon('document')(href="#")._icon_dark Ссылка с иконкой у который не меняется цвет при наведении
        +ui-description .link._white
        +link._white(href="#") Ссылка белая
        +ui-description .link._blue
        +link._blue(href="#") Ссылка синяя
        +ui-description .link._gray
        +link._gray(href="#") Ссылка
        +ui-description .link._icon._gray-light
        +link-icon('refresh')(href="#")._gray-light Ссылка
        +ui-description .link._icon._icon_gray
        +link-icon('refresh')(href="#")._icon_gray Ссылка
        +ui-description .link.is-disabled
        +link()(href="#").is-disabled Отключенная ссылка

    //- Скроллбар
    +ui-section
      +ui-section-head
        h2 Кастомный скроллбары
        p Блок: blocks/scrollbar/scrollbar
      +ui-section-content()
        +grid
          +col(2)
            +ui-description .js-scrollbar
            +e.scrolldemo.js-scrollbar
              +e.scrolldemo-block
          +col(2)
            +ui-description .js-scrollbar-thin
            +e.scrolldemo.js-scrollbar-thin
              +e.scrolldemo-block
          +col(2)
            +ui-description .js-scrollbar-dark
            +e.scrolldemo.js-scrollbar-dark
              +e.scrolldemo-block
          +col(2)
            +ui-description .js-scrollbar-light
            +e.scrolldemo.js-scrollbar-light
              +e.scrolldemo-block
          +col(2)
            +ui-description .js-scrollbar-light-gray
            +e.scrolldemo.js-scrollbar-light-gray
              +e.scrolldemo-block
          +col(2)
            +ui-description .js-scrollbar-wide
            +e.scrolldemo.js-scrollbar-wide
              +e.scrolldemo-block

    //- Слайдер
    - var spaces = getData('spaces.json')
    - var rooms = getData('rooms.json')
    - var news = getData('news.json')
    +ui-section
      +ui-section-head
        h2 Слайдеры
        p Блок: blocks/slider/slider
      +ui-section-content()
        +ui-description .js-slider-spaces
        br
      +slider(true, false).js-slider-spaces
        each item in spaces
          +slide
            +space(item)(href="#")
      br
      +ui-section-content()
        +ui-description .js-slider-rooms
        br
      +slider(true, false).js-slider-rooms
        each item in rooms
          +slide
            +space(item)(href="#")
      br
      +ui-section-content()
        +ui-description .js-slider-news
        br
      +slider(true, false).js-slider-news
        each item in news
          +slide
            +news(item)(href="#")
      br
      +ui-section-content()
        +ui-description .js-slider-spaces-inner
        br
      +slider(true, false)._sm-btn-hide.js-slider-spaces-inner
        each item in spaces
          +slide
            +space(item)(href="#")
      br
      +ui-section-content()
        +ui-description Оттенок затемнения зависит от цвета бэкграунда контейнера
        +ui-description .slider._dark._gallery.js-slider-gallery
        +slider-gallery(true, true).js-slider-gallery
          +e.IMG.slide.swiper-slide(src="assets/images/space-lead1.jpg")
          +e.IMG.slide.swiper-slide(src="assets/images/space-lead2.jpg")
          +e.IMG.slide.swiper-slide(src="assets/images/space-lead3.jpg")
          +e.IMG.slide.swiper-slide(src="assets/images/space-lead4.jpg")
      br
      +ui-section-content()
        +ui-description .slider._dark2._gallery._gallery_inner.js-slider-gallery
        +slider-gallery-bold(true, false)._dark2._gallery_inner.js-slider-gallery
          +e.IMG.slide.swiper-slide(src="assets/images/space-lead1.jpg")
          +e.IMG.slide.swiper-slide(src="assets/images/space-lead2.jpg")
          +e.IMG.slide.swiper-slide(src="assets/images/space-lead3.jpg")
          +e.IMG.slide.swiper-slide(src="assets/images/space-lead4.jpg")

    //- Подсказки
    +ui-section
      +ui-section-head
        h2 Подсказки
        p Блок: blocks/tooltip/tooltip
      +ui-section-content()
        +ui-description .js-tooltip
        +button()(href="#" title="Пример подсказки").js-tooltip Пример подсказки

    //- Карты
    +ui-section
      +ui-section-head
        h2 Карты
        p Блок: blocks/map/map
      +ui-section-content()
        +ui-description .map#map
        +map()#map
      +ui-section-content()
        +ui-description .map._big#mapTwo
        +map()._big#mapTwo
      +ui-section-content()
        +ui-description .map#googleMap
        +map#googleMap

    //- Анимации
    +ui-section
      +ui-section-head
        h2 Анимации при скролле
        p Блок: blocks/js-functions/scrollanimation
      +ui-section-content()
        +ui-description .js-sr — общий класс для анимируемых элементов
        +content-zone
          h3.js-sr.js-sr_1 .js-sr_1
          h4.js-sr.js-sr_2 .js-sr_2

    //- Хлебные крошки
    +ui-section
      +ui-section-head
        h2 Хлебные крошки
        p Блок: blocks/breadcrumbs/breadcrumbs
        p Блок: components/breadcrumbs-box/breadcrumbs-box
      +ui-section-content()
        +ui-description .breadcrumbs
        +breadcrumbs(['London', 'Kensington', 'Boutique Workplace - 1 Neal Street'])
        +ui-description .breadcrumbs - ну очень длинный финал
        +breadcrumbs(['London', 'Kensington', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.'])
        +ui-description .breadcrumbs-box
      +breadcrumbs-box

    //- //- Рейтинг
    //- +ui-section
    //-   +ui-section-head
    //-     h2 Рейтинг
    //-     p Блок: blocks/rating/rating
    //-   +ui-section-content()
    //-     +ui-description Интерактивный
    //-     +rating-interactive
    //-     +ui-description Статичный
    //-     +rating(3)

    //- Боковая навигация
    +ui-section
      +ui-section-head
        h2 Боковая навигация
        p Блок: components/side-navigation
      +ui-section-content()
        +ui-description C навигацией и описанием
        +grid.grid_layout
          +col(3)
            +side-navigation('Conversation available only with booked space managers')
              +nav-list-sidebar(getData('side-menu-user.json'), 'Messages').__navigation
          +col(9)
            div(style="display: block; width: 100%; height: 1000px; background-color: #f2f2f2")
        +ui-description C информацией о странице и описанием
        +grid.grid_layout
          +col(3)
            +side-navigation('Please choose your Space available facilities.')._pt46
              +page-info.__info
                +page-info-image
                  +icon('boxes').icon_boxes._grad3
                +page-info-title Facilities
                +page-info-description Step 3 <i>of 7</i>
          +col(9)
            div(style="display: block; width: 100%; height: 1000px; background-color: #f2f2f2")

    //- Аккордион
    +ui-section
      +ui-section-head
        h2 Аккордион
        p Блок: blocks/accordion/accordion

      +ui-section-content()
        +accordions
          +accordion.is-active
            +accordion-button
            +accordion-body
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis
          +accordion
            +accordion-button
            +accordion-body
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis

    //- Dropdown
    +ui-section
      +ui-section-head
        h2 Dropdown
        p Блок: blocks/dropdown/dropdown
      +ui-section-content
        +ui-description Для использования, нужно "кнопке" добавить класс .js-dropdown-toggle
        div(style="display: inline-block; position: relative; margin-bottom: 24px;")
          +button.js-dropdown-toggle top
          +dropdown._position_top content
        div(style="display: inline-block; position: relative; margin-bottom: 24px;")
          +button.js-dropdown-toggle bottom
          +dropdown content

    //- put-block-into-slot
    +ui-section
      +ui-section-head
        h2 Перемещение блока по слотам
        p Блок: blocks/put-block-into-slot/put-block-into-slot

      +ui-section-content
        +ui-description При смене брейкпоинта app/scripts/globalOptions.js блоки будут перемещены в соответствующий слот
        +grid
          +col(12)
            p(style="font-size: 12px; color: #999;")
              | +put-block-into-slot('slotId', 'xl')
            +put-block-into-slot('slotId', 'xl')
              div(style="width: 100%; padding: 15px; margin-top: 15px; border: 1px black dashed; text-align: center;") Этот блок будет перемещаться в зависимости от брейпоинта
          +col(3)
            p(style="font-size: 12px; color: #999;")
              | +put-block-into-slot('slotId', 'lg')
            +put-block-into-slot('slotId', 'lg')
          +col(3)
            p(style="font-size: 12px; color: #999;")
              | +put-block-into-slot('slotId', 'md')
            +put-block-into-slot('slotId', 'md')
          +col(3)
            p(style="font-size: 12px; color: #999;")
              | +put-block-into-slot('slotId', 'sm')
            +put-block-into-slot('slotId', 'sm')
          +col(3)
            p(style="font-size: 12px; color: #999;")
              | +put-block-into-slot('slotId', 'xs')
            +put-block-into-slot('slotId', 'xs')

    //- Avatar
    +ui-section
      +ui-section-head
        h2 Аватар
        p Блок: blocks/avatar
      +ui-section-content
        +ui-description .avatar
        +avatar('assets/images/ava.jpg')
        +ui-description .avatar._big
        +avatar('assets/images/ava.jpg')._big

    //- Short profile
    +ui-section
      +ui-section-head
        h2 Профиль в хэдере
        p Блок: blocks/short-profile
      +ui-section-content
        +ui-description .short-provile
        +short-profile
        +ui-description .short-provile host
        +short-profile-host

    //- User link
    +ui-section
      +ui-section-head
        h2 Ссылка в профиле в хэдере
        p Блок: blocks/user-link
      +ui-section-content
        +ui-description .user-link
        +user-link('message', '_message')
        +ui-description .user-link.is-new - с активным маркером
        +user-link('message', '_message', true)

    //- Social
    +ui-section
      +ui-section-head
        h2 Социальные сети
        p Блок: blocks/socials и Блок blocks/social
      +ui-section-content
        +ui-description .social - ссылка на соцсеть
        +social('sc-fb')._fb(href="#" title="facebook")
        +ui-description .social._big - увеличенная ссылка на соцсеть
        +social('sc-fb')._big._fb(href="#" title="facebook")
        +ui-description .socials
        +socials
        +ui-description .socials._big
        +socials-big

    //- Close
    +ui-section
      +ui-section-head
        h2 Кнопка закрыть
        p Блок: blocks/close
      +ui-section-content
        +ui-description .close
        +close

    //- Nav list
    +ui-section
      +ui-section-head
        h2 Список в навигации
        p Блок: blocks/nav-list
      +ui-section-content
        +ui-description .nav-list
        +nav-list(getData('main-menu-top.json'))
        +ui-description .nav-list._sidebar
        +nav-list-sidebar(getData('side-menu-host.json'), 'My offers')(style="background: black")

    //- Divider
    +ui-section
      +ui-section-head
        h2 Разделительная полоса
        p Блок: blocks/divider
      +ui-section-content
        +ui-description .divider
        +divider

    //- Section
    +ui-section
      +ui-section-head
        h2 Секции
        p Блок: blocks/section
      +ui-section-content
        +ui-description .section_bg._promo
    +section._bg._promo
      .container
        +section-wrapper
          +section-bg('assets/images/section-bg.jpg')
          +section-content
            +section-header
              +section-title('h2')._big Thousands of&nbsp;professionals prefer to&nbsp;search for perfect workplace on&nbsp;Space Pool
              +button()(href="#") Find out why
            +section-footer
              +e.note_mb15 Today Space Pool is&nbsp;about searching for greatest and most amazing workplaces around London. It&rsquo;s like visiting hundreds of&nbsp;places whithout even leaving your room.
    +ui-section
      +ui-section-content
        +ui-description .section_bg._lead
    +section._bg._lead
      .container
        +section-wrapper
          +section-bg('assets/images/main-lead.jpg')
          +section-content
            +section-header
              +e.lead_left
                +section-title('h2')._big The place where you can find your dream workspace.
              +e.lead_right Additional Content
            +section-footer
              +e.note Between 2&nbsp;960&nbsp;offices, 380 conversation rooms and over 15&nbsp;000 free co-working desks

    //- Boxes
    +ui-section
      +ui-section-head
        h2 Квадраты (Boxes)
        p Блок: blocks/boxes и blocks/box
      +ui-section-content
        +ui-description .box (по дефолту .box - бесцветный, поэтому для демонстраци окрашен)
          +box._orange
        +ui-description .box._small
          +box._orange._small
        +ui-description .box._smaller
          +box._orange._smaller
        +ui-description .box._big
          +box._orange._big
        +ui-description .box._size9
          +box._orange._size9
        +ui-description .box._size10
          +box._orange._size10
        +ui-description .box._size17
          +box._orange._size17
        +ui-description .box._size32
          +box._orange._size32
        +ui-description .box._orange
          +box._orange
        +ui-description .box._red
          +box._red
        +ui-description .box._blue
          +box._blue
        +ui-description .box._green
          +box._green
        +ui-description .boxes
        +boxes
          +box._orange
          +box._red
          +box._blue
          +box._green
        +ui-description .boxes._big
        +boxes._big
          +box._big._orange
          +box._big._red
          +box._big._blue
          +box._big._green

    //- Button heart
    +ui-section
      +ui-section-head
        h2 Кнопка сердечко
        p Блок: blocks/button-heart
      +ui-section-content
        +ui-description .button-heart
        +button-heart
        +ui-description .button-heart.is-active - активное состояние
        +button-heart.is-active
        +ui-description .button-heart.js-heart - переключает состояние
        +button-heart.js-heart
        +ui-description .button-heart._white - сердечко с белой заливкой
        +button-heart._white.js-heart
        +ui-description .button-heart._gray - сердечко с серой границей
        +button-heart._gray.js-heart

    //- Spaces
    - var space = {img: "assets/images/space1.jpg", boxes: {box1: {class: "_orange"}, box2: {class: "_red"}, box3: {class: "_blue"}, box4: {class: "_green"}},title: "TOG - Henry Wood House",location: "W1W, London"};
    - var room = {img: "assets/images/room1.jpg", seats: "18 seats", title: "TOG - Henry Wood House", location: "W1W, London"};
    -var spaceAround = {img: "assets/images/space10.jpg", boxes: {box1: {class: "_orange"}, box2: { class: "_red" }, box3: { class: "_blue" }}, title: "Blooming Founders (Former Blooms )", location: "EC2A, London"};
    -var spaceFavorite = {img: "assets/images/space17.jpg", boxes: { box1: { class: "_orange" }}, title: "Blooming Founders (Former Blooms London)", location: "EC2A, London"};
    +ui-section
      +ui-section-head
        h2 Spaces
        p Блок: blocks/space
      +ui-section-content
        +ui-description .space
        +grid
          +col(3)
            +space(space)
          +col(3)
            +space(room)
          +col(3)
            +space-around(spaceAround)
          +col(3)
            +space-favorites(spaceFavorite)


    //- compact-form
    +ui-section
      +ui-section-head
        h2 Filter for location on mobile
        p Блок: blocks/compact-filter
      +ui-section-content
        +ui-description .compact-filter
        +grid
          +col(3)
            +compact-filter(style="width: 282px")

    //- News
    - var news = {img: "assets/images/news1.jpg", date: "September 9", title: "The perfect Workplace Do&nbsp;exist.&nbsp;5&nbsp;simple steps to&nbsp;make the office of&nbsp;your drem.", info: "For many employers, career success is&nbsp;desired. Establishing a&nbsp;profitable company, we&rsquo;re looking for the best candidates only, whose knowledge and experience can help to&nbsp;achieve career goals."};
    +ui-section
      +ui-section-head
        h2 News
        p Блок: blocks/news
      +ui-section-content
        +ui-description .news
        +grid
          +col(3)
            +news(news)

    //- Add favorite button
    +ui-section
      +ui-section-head
        h2 Кнопка добавить в избранное
        p Блок: blocks/add-button
      +ui-section-content
        +ui-description .add-button
        +add-button.__link(href="#" data-active-name="Added to Favorites" data-name="Add to Favorites") Add to Favorites

    //- Address list
    +ui-section
      +ui-section-head
        h2 Стилизованный адрес
        p Блок: blocks/address-list
      +ui-section-content
        +ui-description .address-list
        +address-list
          +e.LI.item London
          +e.LI.item Kensington
          +e.LI.item EC2A, London

    //- Info price
    +ui-section
      +ui-section-head
        h2 Ценник
        p Блок: blocks/info-price
      +ui-section-content
        +ui-description .info-price
        +info-price('Starting at Just') £300 per month
        +ui-description .info-price._small
        +info-price('Starting at Just')._small £300 per month
        +ui-description .info-price no label
        +info-price()._small £300 per month

    //- page-title
    +ui-section
      +ui-section-head
        h2 Page Title
        p Блок: blocks/page-title
      +ui-section-content
        +ui-description .page-title
        +page-title Page title

    //- Lead for space.html
    +ui-section
      +ui-section-head
        h2 Lead on space.html
        p Блок: components/lead
      +ui-section-content
        +ui-description .lead
      +lead

    //- Transport table
    +ui-section
      +ui-section-head
        h2 Transport table
        p Блок: blocks/transport-table
      +ui-section-content
        +ui-description .transport-table
        +transport-table

    //- Transport type
    +ui-section
      +ui-section-head
        h2 Transport type
        p Блок: blocks/transport-type
      +ui-section-content
        +ui-description .transport-type
        +transport-type('Chancery Lane')
          +e.icons
            +icon('metro').__icon_metro(style="fill: #e24d25")
        +ui-description .transport-type._bus
        +transport-type('Haymarket / Jermyn Street')._bus
          +e.icons
            +icon('bus').__icon_bus
          +e.UL.numbers
            li 6
            li 20
            li N53
            li N15
            li N113
        +ui-description .transport-type._airplane
        +transport-type('Heathrow airport')._airplane
          +e.icons
            +icon('airplane').__icon_airplane

    //- Travel time
    +ui-section
      +ui-section-head
        h2 Travel time
        p Блок: blocks/travel-time
      +ui-section-content
        +ui-description .travel-time on foot
        +travel-time('25 min', 'man', '_man')
        +ui-description .travel-time on car
        +travel-time('44 - 80 min', 'car', '_car')

    //- Facility
    +ui-section
      +ui-section-head
        h2 Facility
        p Блок: blocks/facility
      +ui-section-content
        +ui-description .facility
        +grid
          +col(1)
            +facility('shower', '_shower') Showers
        +ui-description .facility-checkbox
        +grid
          +col(1)
            +facility-checkbox('shower', '_shower', 'facility', 1) Showers
          +col(1)
            +facility-checkbox('f-cafe', '_cafe', 'facility', 2, 'checked') Cafe

    //- Offer info
    +ui-section
      +ui-section-head
        h2 Offer info
        p Блок: blocks/offer-info
      +ui-section-content
        +ui-description .offer-info
        +offer-info('', '&pound;185 per month')
          +e.title office space
        +ui-description .offer-info with box
        +offer-info('', '&pound;185 per month')
          +box._size10._green
          +e.title office space
        +ui-description .offer-info with heart
        +offer-info('', '&pound;185 per month')
          +box._size10._green
          +e.title office space
          +button-heart._gray._small.js-heart
        +ui-description .offer-info._line
        +offer-info('', '&pound;185 per month')._line
          +box._size17._green.hide-from-sm
          +e.title office space
          +button-heart._gray._small.js-heart.hide-from-sm
        +ui-description .offer-info._short с количеством
        +offer-info()._short
          +box._size10._orange
          +e.title hot desk <span class="offer-info__count">x5</span>
        +ui-description .offer-info._short with price type 2
        +offer-info('div', '', '730', '_small')._short
          +box._size10._orange
          +e.title hot desk
        +ui-description .offer-info._short with no cost
        +offer-info('div', '', 'noprice', '')._short
          +box._size10._orange
          +e.title hot desk
        div(style="background: black; color: white;")
          +ui-description .offer-info._light
          +offer-info()._light
            +box._size10._orange
            +e.title hot desk <span class="offer-info__count">x5</span>
          +ui-description .offer-info._light.is-empty
          +offer-info()._light.is-empty
            +box._size10._orange
            +e.title hot desk <span class="offer-info__count">x5</span>

    //- Offer short
    +ui-section
      +ui-section-head
        h2 Offer short
        p Блок: components/offer-short
      +ui-section-content
        +ui-description .offer-short
        +offer-short
          +offer-info('', '&pound;211 per month')._line.__info
            +box._size17._blue.hide-from-sm
            +e.title meetin room
            +button-heart._gray._small.js-heart.hide-from-sm
          +e.status
            +e.buttons
              +button-heart._gray._small.__button._heart.js-heart.hide-sm
              +button('a')._thin-border._thin-border_smaller._smaller.__button Arrange a viewing
              +button('a')._smaller.__button Request Reservation
            +e.available AVIALABLE NOW
          +content-zone._small.__content
            p This text is some part of every offer for every building. This text is meant to be some textual lead for all additional information you can put inside every offer. So it can be long and that’s why we should put the limit for it.
            ul
              li 24 hours access
              li Pets allowed
              li Entrance only with electronic card
              li Silent time from 10pm till 8am
              li First and last months for offices are paid before letting start
        +ui-description .offer.is-not-available
        +offer-short.is-not-available
          +offer-info('', '&pound;185 per month')._line.__info
            +box._size17._green.hide-from-sm
            +e.title office space
            +button-heart._gray._small.js-heart.hide-from-sm
          +e.status
            +e.buttons
              +button-heart._gray._small.__button._heart.js-heart.hide-sm
              +button('a')._thin-border._thin-border_smaller._smaller.__button Arrange a viewing
              +button('a')._smaller.__button Request Reservation
            +e.available NOT AVAILABLE
          +content-zone._small.__content
            p This text is some part of every offer for every building. This text is meant to be some textual lead for all additional information you can put inside every offer. So it can be long and that’s why we should put the limit for it.
            ul
              li 24 hours access
              li Pets allowed
              li Entrance only with electronic card
              li Silent time from 10pm till 8am
              li First and last months for offices are paid before letting start

    //- Spoiler
    +ui-section
      +ui-section-head
        h2 Spoiler
        p Блок: blocks/spoiler
      +ui-section-content
        +spoiler
          +content-zone
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis

    //- Switch
    +ui-section
      +ui-section-head
        h2 Switch
        p Блок: block/switch
      +ui-section-content
        +ui-description .switch выключен
        +switch('swtich', 'switch1', '')
        +ui-description .switch включен
        +switch('swtich', 'switch1', 'checked')
        +ui-description .switch с описанием
        +switch('swtich', 'switch1', 'checked', true) from
          +e.SPAN.price <b>&pound;730</b> pm
        +ui-description .switch._reverse - только на мобильном (переключатель и описание меняются местами)
        +switch('swtich', 'switch1', '')._reverse
        +ui-description .switch._big размер шрифта описания на мобильном такой же как на десктопе
        +switch._big('swtich', 'switch1', '')

    //- Tip
    +ui-section
      +ui-section-head
        h2 tip
        p Блок: block/tip
      +ui-section-content
        +ui-description .tip
        +tip One rental space may contain more than one Rental Offer. <b>First you need to create an rental space, than you will be able to add rental offer such as Dedicated Desks, Meeting Rooms, Office spaces and Hot desks.</b>

    //- Status
    +ui-section
      +ui-section-head
        h2 status
        p Блок: block/status
      +ui-section-content
        +ui-description .status
        +status not listed

    //- note
    +ui-section
      +ui-section-head
        h2 note
        p Блок: block/note
      +ui-section-content
        +ui-description .note
        +note Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        +ui-description .note._big
        +note._big Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        +ui-description .note._color
        +note._color <b>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</b> Aenean commodo ligula eget dolor.

    //- space-offer
    - var spaceOffers = getData('space-offers.json')
    +ui-section
      +ui-section-head
        h2 space-offer
        p Блок: component/space-offer
      +ui-section-content
        +ui-description .space-offer
        +space-offer(class=spaceOffers[0].status)
          +space-offer-side.hide-md(data-slot-id=spaceOffers[0].id data-slot-res="xl")
          +space-offer-content
            +e.media-wrapper_lg.hide-from-md.hide-sm(data-slot-id=spaceOffers[0].id data-slot-res="lg")
            +e.describe
              +space-offer-info
                if spaceOffers[0].offerBoxes
                  +boxes.__boxes
                    each box in spaceOffers[0].offerBoxes
                      +box(class="_size9 " + box)
                - if (spaceOffers[0].status === "is-empty") {
                  +status.__status NOT LISTED
                - }
                +e.address!= spaceOffers[0].address
              +space-offer-switch(spaceOffers[0].switch.name, spaceOffers[0].switch.value, spaceOffers[0].switch.checked)
              +space-offer-title!= spaceOffers[0].title
              +e.media-wrapper_sm.hide-from-sm(data-slot-id=spaceOffers[0].id data-slot-res="sm")
                +space-offer-media(spaceOffers[0].status)(data-target-slot=spaceOffers[0].id)
                  +slider-gallery-bold(true, false)._dark2._gallery_inner.js-slider-gallery.__gallery
                    each slider in spaceOffers[0].slider
                      +e.IMG.slide.swiper-slide(src=slider)
              +space-offer-text!= spaceOffers[0].describe
            +e.controls
              +space-offer-buttons
              +space-offer-bottom(spaceOffers[0].offers)
        +ui-description .space-offer.is-empty
        +space-offer(class=spaceOffers[3].status)
          +space-offer-side.hide-md(data-slot-id=spaceOffers[3].id data-slot-res="xl")
          +space-offer-content
            +e.media-wrapper_lg.hide-from-md.hide-sm(data-slot-id=spaceOffers[3].id data-slot-res="lg")
            +e.describe
              +space-offer-info
                if spaceOffers[3].offerBoxes
                  +boxes.__boxes
                    each box in spaceOffers[3].offerBoxes
                      +box(class="_size9 " + box)
                - if (spaceOffers[3].status === "is-empty") {
                  +status.__status NOT LISTED
                - }
                +e.address!= spaceOffers[3].address
              +space-offer-switch(spaceOffers[3].switch.name, spaceOffers[3].switch.value, spaceOffers[3].switch.checked)
              +space-offer-title!= spaceOffers[3].title
              +e.media-wrapper_sm.hide-from-sm(data-slot-id=spaceOffers[3].id data-slot-res="sm")
                +space-offer-media(spaceOffers[3].status)(data-target-slot=spaceOffers[3].id)
                  +slider-gallery-bold(true, false)._dark2._gallery_inner.js-slider-gallery.__gallery
                    each slider in spaceOffers[3].slider
                      +e.IMG.slide.swiper-slide(src=slider)
              +space-offer-text!= spaceOffers[3].describe
            +e.controls
              +space-offer-buttons
              +space-offer-bottom(spaceOffers[3].offers)

    //- Indicator
    +ui-section
      +ui-section-head
        h2 indicator
        p Блок: block/indicator
      +ui-section-content
        +ui-description .indicator
        +indicator 3
        +ui-description .indicator._orange
        +indicator._orange 3
        +ui-description .indicator._green
        +indicator._green 3
        +ui-description .indicator._blue
        +indicator._blue 3
        +ui-description .indicator._fz13
        +indicator._fz13 3

    //- space-info
    +ui-section
      +ui-section-head
        h2 space info
        p Блок: block/space-info
      +ui-section-content
        +ui-description .space-info
        +grid.grid_no-top
          +col({xl: 3, md:12})
            +space-info
              +grid.grid_layout.grid_no-top
                +col({sm: 12, md:6, xl: 12})
                  +space-info-title() Blooming Founders Office Space (Former Blooms London old Factory)
                  +space-info-media.hide-only-lg(data-slot-id="media" data-slot-res="sm xl")
                    +space-info-image()(src="assets/images/room3.jpg" data-target-slot="media")
                  +space-info-address
                    p 2 Riding House St, Marylebone, London
                    p EC2A, London
                  +space-info-buttons.hide-only-lg(data-slot-id="button" data-slot-res="sm xl")
                    +space-info-button(data-target-slot="button") Add rental offers for this space
                  +space-info-controls
                +col({sm: 12, md:6, xl: 12}).hide-sm.hide-from-md
                  +space-info-media(data-slot-id="media" data-slot-res="lg")
                  +space-info-buttons(data-slot-id="button" data-slot-res="lg")

    //- offer
    +ui-section
      +ui-section-head
        h2 offer
        p Блок: block/offer
      +ui-section-content
        +ui-description .offer
        +offer('offer', 'offer5', 'checked')
          +e.H5.title Hot Desk on 4-th floor
          +e.text This is a comment that you provide for the Hot desk offer just to keep clear the information about following retnal offer. Somehow this information can help you to fastly surf tihin your offers.
        +ui-description .offer.is-disabled
        +offer('offer', 'offer5').is-disabled
          +e.H5.title Hot Desk on 4-th floor
          +e.text This is a comment that you provide for the Hot desk offer just to keep clear the information about following retnal offer. Somehow this information can help you to fastly surf tihin your offers.
        +ui-description .offer_simple
        +offer-simple
          +e.heading
            +e.H5.title Hot Desk on 4-th floor
            +price(730).__price
          +e.text This is a comment that you provide for the Hot desk offer just to keep clear the information about following retnal offer. Somehow this information can help you to fastly surf tihin your offers.

    //- offers
    +ui-section
      +ui-section-head
        h2 offers
        p Блок: block/offers
      +ui-section-content
        +ui-description .offers
        +offers
          +offers-header('red', 'DEDICATED DESKS', '2 offers')
          +offers-describe
          +offers-list
            +offer('offer', 'offer5', 'checked')
              +e.H5.title Hot Desk on 4-th floor
              +e.text This is a comment that you provide for the Hot desk offer just to keep clear the information about following retnal offer. Somehow this information can help you to fastly surf tihin your offers.
            +offer('offer', 'offer6', 'checked')
              +e.H5.title Hot Desk on 4-th floor
              +e.text This is a comment that you provide for the Hot desk offer just to keep clear the information about following retnal offer. Somehow this information can help you to fastly surf tihin your offers.
        +ui-description .offers.is-empty
        +offers.is-empty
          +offers-header('blue', 'MEETING ROOMS', 'no offers')
          +offers-describe
          +offers-list
        +ui-description .offers - упрощеный заголовок
        +offers._light-border
          +offers-heading('orange', 'HOT DESK')
          +offers-list()
            +offer-simple
              +e.heading
                +e.H5.title Hot Desks + Networking Meetups and workshops
                +price(730).__price
              +e.text This is a comment that you provide for the Hot desk offer just to keep clear the information about following retnal offer. Somehow this information can help you to fastly surf tihin your offers.
            +offer-simple
              +e.heading
                +e.H5.title Hot Desks + Networking Meetups and workshops
                +price(730).__price
              +e.text This is a comment that you provide for the Hot desk offer just to keep clear the information about following retnal offer. Somehow this information can help you to fastly surf tihin your offers.

    //- pagination
    +ui-section
      +ui-section-head
        h2 pagination
        p Блок: block/pagination
      +ui-section-content
        +ui-description .pagination
        +pagination

    //- blog-news
    -var blogNews = getData('blog-news.json');
    +ui-section
      +ui-section-head
        h2 blog-news
        p Блок: block/blog-news
      +ui-section-content
        +ui-description .blog-news
        +grid.grid_layout
          +col(6)
            +blog-news(blogNews[1])(href="#")

    //- category-filter
    +ui-section
      +ui-section-head
        h2 category-fitler
        p Блок: block/category-fitler
      +ui-section-content
        +ui-description .category-fitler
        +category-filter

    //- page-title
    +ui-section
      +ui-section-head
        h2 page-title
        p Блок: block/page-title
      +ui-section-content
        +ui-description .page-title
        +page-title Title
        +ui-description .page-title._small
        +page-title._small Title

    //- characteristics table
    +ui-section
      +ui-section-head
        h2 characteristics-table
        p Блок: block/characteristics-table
      +ui-section-content
        +ui-description .characteristics-table
        +characteristics-table
          body
            +e.TR.row
              +e.TD.cell Conversation start
              +e.TD.cell_dark 27 October 2018
            +e.TR.row
              +e.TD.cell Messages
              +e.TD.cell_dark 12&nbsp;|&nbsp;&nbsp;6 Unread
        +ui-description .characteristics-table._big
        +characteristics-table._big
          body
            +e.TR.row
              +e.TD.cell Reservation Date:
              +e.TD.cell <time datetime="2018-12-27">27 December 2018</time>
            +e.TR.row
              +e.TD.cell Duration:
              +e.TD.cell Untill Cancelled
            +e.TR.row
              +e.TD.cell Status:
              +e.TD.cell_dark
                +icon('check2').__icon_check
                | Accepted
            +e.TR.row
              +e.TD.cell Current Price:
              +e.TD.cell 475&nbsp;&pound; + VAT&nbsp;/&nbsp;mo
        +ui-description .characteristics-table._normal
        +characteristics-table._normal
          body
            +e.TR.row
              +e.TD.cell Reservation Date:
              +e.TD.cell <time datetime="2018-12-27">27 December 2018</time>
            +e.TR.row
              +e.TD.cell Duration:
              +e.TD.cell Untill Cancelled
            +e.TR.row
              +e.TD.cell Status:
              +e.TD.cell_dark
                +icon('check2').__icon_check
                | Accepted
            +e.TR.row
              +e.TD.cell Current Price:
              +e.TD.cell 475&nbsp;&pound; + VAT&nbsp;/&nbsp;mo
        +ui-description .characteristics-table._large
        +characteristics-table._large
          body
            +e.TR.row
              +e.TD.cell Reservation Date:
              +e.TD.cell <time datetime="2018-12-27">27 December 2018</time>
            +e.TR.row
              +e.TD.cell Duration:
              +e.TD.cell Untill Cancelled
            +e.TR.row
              +e.TD.cell Current Price:
              +e.TD.cell 475&nbsp;&pound; + VAT&nbsp;/&nbsp;mo
        +ui-description .characteristics-table._dark
        +characteristics-table._dark
          body
            +e.TR.row
              +e.TD.cell Reservation Date:
              +e.TD.cell <time datetime="2018-12-27">27 December 2018</time>
            +e.TR.row
              +e.TD.cell Duration:
              +e.TD.cell Untill Cancelled
            +e.TR.row
              +e.TD.cell Current Price:
              +e.TD.cell 475&nbsp;&pound; + VAT&nbsp;/&nbsp;mo
        +ui-description .characteristics-table._pivot
        +characteristics-table._pivot
          body
            +e.TR.row
              +e.TD.cell Reservation Date:
              +e.TD.cell <time datetime="2018-12-27">27 December 2018</time>
            +e.TR.row
              +e.TD.cell Duration:
              +e.TD.cell Untill Cancelled
            +e.TR.row
              +e.TD.cell Current Price:
              +e.TD.cell 475&nbsp;&pound; + VAT&nbsp;/&nbsp;mo

    -var messages = getData('messages-old.json');

    //- space description
    +ui-section
      +ui-section-head
        h2 Space description for messages
        p Блок: block/space-description
      +ui-section-content
        +ui-description .space-description
        +space-description
          +space-description-image(messages[0].space.image)
          +space-description-content
            +space-description-address
              +address-line(messages[0].space.address)
            +space-description-title!= messages[0].space.title
            +space-description-boxes
              +box._size10._orange
              +box._size10._red
              +box._size10._blue
              +box._size10._green
            +space-description-table
        +ui-description .space-description._request in request
        +space-description._request
          +space-description-image('assets/images/space24.jpg')
          +space-description-content
            +space-description-title RNR Property - Oxford Street
            +space-description-info
              +offer-counters(4, 2, '_orange').__name HOT DESK
              +price(430).__price
            +space-description-text Members will enjoy access to our world-class Cultural Programme, Member-only Be Better sessions & weekly wellness programme...

    //- message
    +ui-section
      +ui-section-head
        h2 Message for messages
        p Блок: block/message
      +ui-section-content
        +ui-description .message
        +message
          +message-header(messages[0].count)
            +short-profile-origin(messages[0].interlocuter.img, messages[0].interlocuter.name, 'div')
          +message-content!= messages[0].text
        +ui-description .message with .message__content_bold
        +message
          +message-header(messages[0].count)
            +short-profile-origin(messages[0].interlocuter.img, messages[0].interlocuter.name, 'div')
          +message-content._bold!= messages[0].text

    //- conversation
    +ui-section
      +ui-section-head
        h2 conversation for messages
        p Блок: block/conversation
      +ui-section-content
        +ui-description .conversation
        +conversation()(href="#")
          +conversation-subject
            +space-description
              +space-description-image(messages[0].space.image)
              +space-description-content
                +space-description-address
                  +address-line(messages[0].space.address)
                +space-description-title!= messages[0].space.title
                +space-description-boxes
                  +box._size10._orange
                  +box._size10._red
                  +box._size10._blue
                  +box._size10._green
                +space-description-table
          +conversation-message
            +message
              +message-header(messages[0].count)
                +short-profile-origin(messages[0].interlocuter.img, messages[0].interlocuter.name, 'div')
              +message-content._bold!= messages[0].text

    //- conversation-info
    +ui-section
      +ui-section-head
        h2 conversation-info
        p Блок: block/conversation-info
      +ui-section-content
        +ui-description .conversation-info
        +conversation-info

    //- space-reservation
    +ui-section
      +ui-section-head
        h2 space-reservation
        p Блок: block/space-reservation
      +ui-section-content
        +grid.grid_layout
          +col({md:12, xl: 3})
            +ui-description .space-reservation._side
            +space-reservation()._side
              +grid.grid_layout.grid_no-top
                +col({sm: 12, md:6, xl: 12})
                  - var spaceR = {type: {name: "HOT DESK", color: "_orange"}, img: "assets/images/space16.jpg", heart: "", flag: "", boxes: [{class: "_orange"}, {class: "_red"}, {class: "_blue"}, {class: "_green"}], title: "Blooming Founders (Former Blooms London)", location: "EC2A, London"};
                  +space-reservation-info(spaceR)
                +col({sm: 12, md:6, xl: 12})
                  +space-reservation-table
                    body
                      +e.TR.row
                        +e.TD.cell Reservation Date:
                        +e.TD.cell <time datetime="2018-12-27">27 December 2018</time>
                      +e.TR.row
                        +e.TD.cell Duration:
                        +e.TD.cell Untill Cancelled
                      +e.TR.row
                        +e.TD.cell Status:
                        +e.TD.cell_dark
                          +icon('check2').__icon_check
                          | Accepted
                      +e.TR.row
                        +e.TD.cell Current Price:
                        +e.TD.cell 475&nbsp;&pound; + VAT&nbsp;/&nbsp;mo
                  +space-reservation-controls._reverse
                    +e.control
                        +link-icon('document')._icon_mid-small._bold._light-underline._icon_dark._no-shadow(href="#") View/Print Invoice
                    +e.control
                      +link-icon('round-cross')._icon_mid-small._bold._light-underline._icon_gray._no-shadow(href="#") Cancel Reservation
          +col({sm: 12, md: 6, xl: 3})
            +ui-description .space-reservation._link
            +space-reservation()._link
              - var spaceM = {type: {name: "HOT DESK", color: "_orange"}, img: "assets/images/space16.jpg", heart: "", flag: "", boxes: [{class: "_orange"}, {class: "_red"}, {class: "_blue"}, {class: "_green"}], title: "Blooming Founders (Former Blooms London)", location: "EC2A, London"};
              +space-reservation-info(spaceM)
              +space-reservation-table
                body
                  +e.TR.row
                    +e.TD.cell Reservation Date:
                    +e.TD.cell <time datetime="2018-12-27">27 December 2018</time>
                  +e.TR.row
                    +e.TD.cell Duration:
                    +e.TD.cell Untill Cancelled
                  +e.TR.row
                    +e.TD.cell Status:
                    +e.TD.cell_dark
                      +icon('check2').__icon_check
                      | Accepted
                  +e.TR.row
                    +e.TD.cell Current Price:
                    +e.TD.cell 475&nbsp;&pound; + VAT&nbsp;/&nbsp;mo
              +space-reservation-controls._reverse
                +e.control
                    +link-icon('document', 'div')._icon_mid-small._bold._light-underline._icon_dark._no-shadow(href="#") View/Print Invoice

    //- message-form
    +ui-section
      +ui-section-head
        h2 message-form
        p Блок: block/message-form
      +ui-section-content
        +ui-description .message-form
        +message-form

    //- bubble
    +ui-section
      +ui-section-head
        h2 bubble
        p Блок: block/bubble
      +ui-section-content
        +ui-description .bubble
        +bubble('li', '15:45', "2018-10-29T15:45")._bold.__item But we can discuss it. Maybe somehow charge you a little extra of you want to use the gym.
        +ui-description .bubble._dark
        +bubble('li', '15:45', "2018-10-27T15:45", true)._dark.__item I have ordered HOT DESK in your Building in East London. o the question is if i am able to have an access to your sports area when im ordering HOT DESK?

    //- dialog
    +ui-section
      +ui-section-head
        h2 dialog
        p Блок: block/dialog
      +ui-section-content
        +ui-description .dialog
        +dialog

    //- request-status
    +ui-section
      +ui-section-head
        h2 request-status
        p Блок: block/request-status
      +ui-section-content
        +ui-description .request-status
        +grid.grid_layout
          +col({xl: 4, sm: 12})
            +ui-description .request-status_yellow
            +request-status('time')._yellow Waiting for Client Payment
          +col({xl: 4, sm: 12})
            +ui-description .request-status_red
            +request-status('cross')._red Declined
          +col({xl: 4, sm: 12})
            +ui-description .request-status_green
            +request-status('check2')._green Accepted

    //- long-arrow
    +ui-section
      +ui-section-head
        h2 long-arrow
        p Блок: block/long-arrow
      +ui-section-content
        +ui-description .long-arrow
        +long-arrow

    //- time
    +ui-section
      +ui-section-head
        h2 time
        p Блок: block/time
      +ui-section-content
        +ui-description .time
        +time('30 October 2018', '2018-10-30', '30 October 2018', '2018-10-30')

    //- request-info
    +ui-section
      +ui-section-head
        h2 request-info
        p Блок: block/request-info
      +ui-section-content
        +ui-description .request-info
        +grid.grid_layout
          +col(6)
            +request-info
              +e.buttons
                +button()(href="#")._red._short.__button Decline request
                +button()(href="#")._short.__button Accept request
          +col(6)
            +request-info
              +request-status('time')._yellow.__status Waiting for Client Payment

    //- price
    +ui-section
      +ui-section-head
        h2 price
        p Блок: block/price
      +ui-section-content
        +ui-description .price
        +price('324')
        +ui-description .price_small
        +price('324')._small

    //- factor
    +ui-section
      +ui-section-head
        h2 factor
        p Блок: block/factor
      +ui-section-content
        +ui-description .factor
        +factor 32

    //- offer-counters
    +ui-section
      +ui-section-head
        h2 offer-counters
        p Блок: block/offer-counters
      +ui-section-content
        +ui-description .offer-counters
        +offer-counters('3', '2', '_orange') hot space

    //- request
    +ui-section
      +ui-section-head
        h2 request
        p Блок: block/request
      +ui-section-content
        +ui-description .request with buttons
        +request-full('1', '1', '455', 'buttons')
        +ui-description .request with status
        +request-full('1', '2', '730', 'accept')

    //- footnote-star
    +ui-section
      +ui-section-head
        h2 footnote-star
        p Блок: block/footnote-star
      +ui-section-content
        +ui-description .footnote-star
        +footnote-star

    //- footnote
    +ui-section
      +ui-section-head
        h2 footnote
        p Блок: block/footnote
      +ui-section-content
        +ui-description .footnote
        +footnote Текст сноски

    //- payment-card
    +ui-section
      +ui-section-head
        h2 payment-card
        p Блок: block/payment-card
      +ui-section-content
        +ui-description .payment-card
        +payment-card()
          +e.wrapper
            +payment-card-top._centered
              +icon('card').icon_card
            +payment-card-bottom
              +button._border._border_bg-white(href="#") Enter Card Details
        +ui-description .payment-card as radio-button
        +payment-card('label')._radio
          +input(type="radio" name="card" value="1").__input
          +e.wrapper
            +payment-card-top
              +e.name
                +icon('card').icon_card
                +e.text MasterCard
              +e.box
            +payment-card-bottom
              +card-mask.__card 1234

    //- dots
    +ui-section
      +ui-section-head
        h2 dots
        p Блок: block/dots
      +ui-section-content
        +ui-description .dots
        +dots
          +dots-dot
          +dots-dot
          +dots-dot
          +dots-dot

    //- card-mask
    +ui-section
      +ui-section-head
        h2 card-mask
        p Блок: block/card-mask
      +ui-section-content
        +ui-description .card-mask
        +card-mask 1234

    //- info
    +ui-section
      +ui-section-head
        h2 info
        p Блок: block/info
      +ui-section-content
        +ui-description .info
        +info
          +e.cell Amount to pay:
            +footnote-star
          +e.cell 1&nbsp;498.00 &pound;

    //- social-button
    +ui-section
      +ui-section-head
        h2 social-button
        p Блок: block/social-button
      +ui-section-content
        +ui-description .social-button
        div(style="background: white; overflow: hidden; padding: 10px 0; width: 100%;")
          +grid.grid_layout
            +col(6)
              +social-button('fb-symbol')._fb(href="#") Sign in via Facebook
            +col(6)
              +social-button('', 'assets/images/google.svg')._gg(href="#") Sign in via Google
        +ui-description .social-button._white
        +grid.grid_layout
          +col(6)
            +social-button('fb-symbol')._fb._white(href="#") Sign in via Facebook
          +col(6)
            +social-button('', 'assets/images/google.svg')._gg._white(href="#") Sign in via Google

    //- avatar-uploader
    +ui-section
      +ui-section-head
        h2 avatar-uploader
        p Блок: block/avatar-uploader
      +ui-section-content
        +ui-description .avatar-uploader
        br
        br
        +avatar-uploader load image

    //- progress bar
    +ui-section
      +ui-section-head
        h2 progress bar
        p Блок: block/progress
      +ui-section-content
        +ui-description .progress - процент указывается прямо в верстке
        +progress(20)

    //- photo preview
    +ui-section(style="background: #fff;")
      +ui-section-head
        h2 photo preview
        p Блок: block/photo-preview
      +ui-section-content
        +grid.grid_layout
          +col(3)
            +ui-description .photo-preview
            +photo-preview
              +photo-preview-preview
                +e.IMG.image(src="assets/images/photo-preview1.jpg")
              +photo-preview-error
              +photo-preview-description
                option(placeholder value="") What’s on photo?
                option(value="Cafe") Cafe
                option(value="Meeting room") Meeting room
                option(value="Parking") Parking
                option(value="Roof terrace") Roof terrace
                option(value="reception") Reception
          +col(3)
            +ui-description .photo-preview - главное
            +photo-preview
              +photo-preview-preview(true)
                +e.IMG.image(src="assets/images/photo-preview1.jpg")
              +photo-preview-error
              +photo-preview-description
                option(placeholder value="") What’s on photo?
                option(value="Cafe") Cafe
                option(value="Meeting room") Meeting room
                option(value="Parking") Parking
                option(value="Roof terrace") Roof terrace
                option(value="reception") Reception
          +col(3)
            +ui-description .photo-preview.is-error
            +photo-preview.is-error
              +photo-preview-preview
                +e.IMG.image(src="assets/images/photo-preview1.jpg")
              +photo-preview-error
              +photo-preview-description
                option(placeholder value="") What’s on photo?
                option(value="Cafe") Cafe
                option(value="Meeting room") Meeting room
                option(value="Parking") Parking
                option(value="Roof terrace") Roof terrace
                option(value="reception") Reception

      //- address-line
    +ui-section
      +ui-section-head
        h2 address line
        p Блок: block/address-line
      +ui-section-content
        +ui-description .address-line
        +address-line({line: ['London', 'Kengsinton', 'W22EBF']})
        +ui-description .address-line с иконками
        +address-line({line: ['London', 'Kengsinton', 'W22EBF'], icons: [{ ico: 'metro', color: '#9b0158'}, {ico: 'metro', color: '#fed201'}]})

    //- state
    +ui-section
      +ui-section-head
        h2 state
        p Блок: block/state
      +ui-section-content
        +ui-description .state
        +state() Состояние
        +ui-description .state_right индикатор справа
        +state()._right состояние
          +link()._underline(href="#") ссылка
        +ui-description .state_light
        +state()._light состояние
        +ui-description .state_fz18
        +state()._fz18 состояние
        +ui-description .state_orange
        +state()._orange состояние
        +ui-description .state_red
        +state()._red состояние
        +ui-description .state_green
        +state()._green._right состояние
        +ui-description .state_empty
        +state()._empty

    //- timer
    +ui-section
      +ui-section-head
        h2 timer
        p Блок: block/timer
      +ui-section-content
        +ui-description .timer
        +timer('Estimated time')

    //- informer
    +ui-section
      +ui-section-head
        h2 informer
        p Блок: block/informer
      +ui-section-content
        +ui-description .informer
        +informer
          +e.text Reason:&nbsp;
            b This offer is not available for specified dates.
        +ui-description .informer_sb
        +informer._sb
          +e.text
            b Please check order summary and confirm again.
          +state._empty._orange
        +ui-description .informer_fz20
        +informer._fz20
          +e.text
            b Please check order summary and confirm again.

    //- notification
    +ui-section
      +ui-section-head
        h2 notification
        p Блок: block/notification
      +ui-section-content
        +ui-description .notification
        +notification
          +notification-head('Action required:')
            +offer-info
              +box._big._green
              +e.title_dark._fz16 OFFICE SPACE
          +notification-content
            +notification-title Please sign the contract
            +notification-timer('Estimated time:')
          +notification-footer
            +notification-buttons
              +button()._border._border_bg-white._short.__button Decline reservation
              +button()._short.__button Open contract

block panels
  +main-menu


  script
    |
    | $('.ui-kit__section').each(function (i) {
    |   var id = 'section' + i;
    |   var name = $(this).find('.ui-kit__section-head h2').text();
    |   var li = $('<li></li>');
    |   var a = $('<a></a>');
    |
    |   a.attr('href', '#'+id).text(name).addClass('js-anchor');
    |   li.append(a);
    |
    |   $('.ui-kit__navigation__list').append(li);
    |   $(this).attr('id', id);
    | });
