mixin notice(data)
  - var cls = data.new ? 'is-new' : '';
  - var figCls = data.avatar ? '_ava' : '';
  - var type = data.event ? '_event ' : (data.message ? '_message ' : '');
  +b(data.tag || 'a').notice(class=type + cls)&attributes(attributes)
    +e.wrapper
      +e.DIV.figure(class=figCls)
        if data.picture
          +e.DIV.media
            +e.IMG.image(src=data.picture)
        if data.avatar
          +e.DIV.media
            +avatar(data.avatar).__avatar
      +e.DIV.content
        if data.message
          +e.DIV.text!= data.message.title
          +e.DIV.text_nowrap!= data.message.text
        if data.event
          +e.DIV.text.js-line-clamp(data-max-line="2")!= data.event.text
        +e.DIV.bottom
          +e.TIME.time!= data.time
          if data.event
            case data.event.type
              when 'Tenancy'
                +request-type('key2')._green._small.__type Tenancy
                - break
              when 'Viewing'
                +request-type('eye')._yellow._small.__type Viewing
                - break
              default
                - break
      block


mixin nd-notice(data)
  - var addClass = data.cls || ''
  - addClass += data.new ? ' is-new' : ''
  - addClass += data.signed ? ' is-signed' : ''
  - addClass += data.sign ? ' is-sign' : ''
  +b.nd-notice&attributes(attributes)(class=addClass)
    +e.space
      +nd-space._notice
        +nd-space-media-e
          +e.PICTURE.image
            source(srcset=data.space.img)
            img(srcset=data.space.img)
        +e.head
          +space-type._gray.__type
            +nd-box()(class=data.space.type.box + ' __box')
            +e.name!=data.space.type.name
          +nd-space-title()!=data.space.title
    +e.text!=data.note
    +e.buttons
      +nd-button()._pad10._fw600._fz16._lg-fz14._h32.__button Sign the agreement
