mixin offer-table(data, isFrom, isEmptyClass)
  +b.TABLE.offer-table&attributes(attributes)
    tbody
      each item in data
        - var emptyClassName = isEmptyClass ? 'is-empty' : ' nd-hide-sm'
        - var rowEmptyClass = (item.price === '-' || item.price === '') ? emptyClassName : ''
        +e.TR.row(class=rowEmptyClass)
          +e.TD.cell
            +e.offer
              +nd-box()(class=item.box + ' __box')
              if item.count
                +e.name_count!=item.count
              if item.countName && item.name
                +e.name
                  span.nd-hide-from-sm!=item.countName
                  span.nd-hide-sm!=item.name
              else if item.name
                +e.name!=item.name
          +e.TD.cell
            if isFrom
              +e.price <span>from</span>&nbsp;#{item.price}
            else
              +e.price!=item.price
    block
