mixin arrange-viewing-form()
  +b.FORM.arrange-viewing-form&attributes(attributes)
    +e.top
      +nd-input()(type="hidden" name="arrangeViewingDate" data-dates-result)
      +e.date(data-dates-alternative-result)
    +e.bottom
      +e.time
        +nd-form-box('Time')._bg-white
          +nd-select()(name="arrangeViewingTime" data-choices-classes=" nd-choices_white nd-choices_h40" data-mobile-title="Pick a time"  data-choices-popup="data-choices-popup").js-nd-select
            - for (var i = 0; i < 24; i++) {
              - var zeroi = (`0${i}`).slice(-2);
              if (i === 12)
                option(value=zeroi + ':00' selected)!=(zeroi + ':00')
                option(value=zeroi + ':30')!=(zeroi + ':30')
              else
                option(value=zeroi + ':00')!=(zeroi + ':00')
                option(value=zeroi + ':30')!=(zeroi + ':30')
            - }
      +e.buttons
        +nd-button('button', true)._pad10._md-fz15.__button(type="submit") Arrange viewing

    block
