mixin space(data)
  +b.A.space&attributes(attributes)
    +e.DIV.media(data-slider-buttons-orientir)
      +e.IMG.image(src=data.img)
      +button-heart.js-heart.__heart
    +e.DIV.describe
      if data.seats
        +e.seats!= data.seats
      if data.boxes
        +boxes.__boxes
          each item in data.boxes
            +box(class='_small ' + item.class)
      +e.title!= data.title
      +e.location!= data.location
    block


mixin space-around(data)
  +b.A.space._around&attributes(attributes)
    +e.DIV.media(data-slider-buttons-orientir)
      +e.IMG.image(src=data.img)
      +button-heart.js-heart.__heart
    +e.DIV.describe
      if data.seats
        +e.seats!= data.seats
      if data.boxes
        +boxes.__boxes
          each item in data.boxes
            +box(class='_small ' + item.class)
      +e.title!= data.title
      +e.location!= data.location
    block

mixin space-favorites(data)
  +b.A.space&attributes(attributes)
    +e.DIV.media
      +e.IMG.image(src=data.img)
      +button-heart._white.js-heart.is-active.__heart
    +e.DIV.describe
      if data.seats
        +e.seats!= data.seats
      if data.boxes
        +boxes.__boxes
          each item in data.boxes
            +box(class='_small ' + item.class)
      +e.title!= data.title
      +e.location!= data.location
    block


mixin space-reserv(tag, data)
  +b(tag || 'a').space&attributes(attributes)
    if data.type
      +e(class="head " + data.type.color)!= data.type.name
    if data.head
      +e(class="head_base " + data.head.base)!= data.head.name
        +box()(class="_size32 " + data.head.color + " __head-box")
    +e.DIV.media
      +e.IMG.image(src=data.img)
      if data.heart
        +button-heart.js-heart.is-active.__heart(class=data.heart.class)
      if data.heart2
        +button-heart.js-heart.__heart(class=data.heart2.class)
      if data.flag
        +e.flag
          +e.flag-name!= data.flag
    +e.DIV.describe
      if data.boxes
        +boxes.__boxes
          each item in data.boxes
            +box(class='_small ' + item.class)
      +e.title!= data.title
      if data.location
        +e.location!= data.location
    block


mixin space-reserv-small(tag, data)
  +b(tag || 'a').space&attributes(attributes)
    if data.type
      +e(class="head_lh26 " + data.type.color)!= data.type.name
    if data.head
      +e(class="head_lh26 _base " + data.head.base)!= data.head.name
        +box()(class="_size26 " + data.head.color + " __head-box")
    +e.DIV.media
      +e.IMG.image(src=data.img)
      if data.heart
        +button-heart.js-heart.is-active.__heart(class=data.heart.class)
      if data.heart2
        +button-heart.js-heart.__heart(class=data.heart2.class)
      if data.flag
        +e.flag
          +e.flag-name!= data.flag
    +e.DIV.describe
      if data.boxes
        +boxes.__boxes
          each item in data.boxes
            +box(class='_small ' + item.class)
      +e.title_small!= data.title
      if data.location
        +e.location_small!= data.location
    block
