mixin gallery(data)
  +b.gallery&attributes(attributes)
    +e.slider.js-gallery-container
      +e.wrapper
        each image in data.images
          if data.gallerytag
            +e.slide
              +e.PICTURE.image
                +e.SOURCE(srcset=image)
                +e.IMG(srcset=image data-target=data.gallerytag)
          else if data.fancygallery
            +e.slide
              +e.PICTURE.image(data-fancybox=data.fancygallery data-src=image)
                +e.SOURCE(srcset=image )
                +e.IMG(srcset=image )
          else
            +e.slide
              +e.PICTURE.image
                +e.SOURCE(srcset=image)
                +e.IMG(srcset=image)
    if data.buttons
      +e.buttons(class=(data.buttonsClass || ''))
        +e.button_prev.js-gallery-button-prev
          +icon('nd-slider-arrow')
        +e.button_next.js-gallery-button-next
          +icon('nd-slider-arrow')
    if data.dots
      +e.pagination.js-gallery-pagination(class=(data.dotsClass || ''))
    if data.tumbnails
      +e.tumbnails.js-gallery-controller
        +e.wrapper
          each image in data.images
            +e.slide_tumbnail
              +e.PICTURE.image
                +e.SOURCE(srcset=image)
                +e.IMG(srcset=image)
    if data.gallerytag
      +e.A.fullscreen.js-nd-fancygallery(data-targets=data.gallerytag)
        +icon('fullscreen')
    block
