mixin form-order-summary(editable)
  +form._white.form-order-summary&attributes(attributes)
    div.form-order-summary__section
      +info-editable.__line
        +info-editable-name Space:
        +info-editable-field One Heddon Street Office Space center
      +info-editable.__line
        +info-editable-name Offer type:
        +info-editable-field
          +offer-info.__offer
            +box._size13._blue
            +e.title._fz18 OFFICE SPACE
      +info-editable.__line
        +info-editable-name Offer description:
        if editable
          +info-editable-field._wide
            +e.text_wide
              +e.INPUT.text-input_wide(type="text" name="description" value="One Heddon Office Space. 226 sq.ft. with terrace" data-field-edit="t1" readonly)
            +link()(data-edit-target="t1")._light-underline.__edit.js-field-edit Edit
        else
          +info-editable-field One Heddon Office Space. 226 sq.ft. with terrace
      +info-editable.__line
        +info-editable-name Amount:
        +info-editable-field 1
    +e.dates.form-order-summary__dates
      if (editable)
        +e.line_flex._sm-mg30
          +e.dates-cell_big
            +form-section-wrapper
              +form-box('Rent period start:', 'calendar2')._icon._icon_s15._lbl-nochange
                +input.input_underline-light.input_normal.js-datepicker(type="text" name="startDate" value="26 May 2020" placeholder="Rent period start:" readonly)
        +e.dates-icon_mg-big
        +e.line_flex._sm-mg30
          +e.dates-cell_big
            +form-section-wrapper
              +form-box('Duration:')._icon._icon_s15._lbl-nochange
                +select.js-select-input(name="period" data-mobile-title="Rent period:")
                  - for (var i = 1; i <= 12; i++) {
                    if (i === 12)
                      option(value=i selected)!=(i + ' months')
                    else if (i === 1)
                      option(value=i)!=(i + ' month')
                    else
                      option(value=i)!=(i + ' months')
                  -}
      else
        +info-editable._date.__line
          +info-editable-name Rent period start:
          +info-editable-field
            +e.SPAN.item 26 May 2019
        +e.dates-icon
        +info-editable._date.__line
          +info-editable-name Duration:
          +info-editable-field
            +e.SPAN.item 12 months
    +e.text_dark._small3 All contracts at Spacepool are rolled, which means that the contract does not end at the end of the initial rental period, but the service provider has the right to change the terms of the contract.
    div.form-order-summary__section
      +info-editable.__line
        +info-editable-name Cancellation period
        +info-editable-field 48 hours
      +info-editable.__line
        +info-editable-name Price:
        if editable
          +info-editable-field
            +e.text
              span &pound;/mo
              +e.INPUT.text-input(type="text" name="price" data-field-edit="t2" data-price="1568.00" value="1568.00" maxlength="8" readonly)
            +link()(data-edit-target="t2")._light-underline.__edit.js-field-edit Edit
        else
          +info-editable-field 1568.00 &pound;/mo
      +info-editable.__line
        +info-editable-name Safety deposit:
        if editable
          +info-editable-field
            +e.text
              span &pound;
              +e.INPUT.text-input(type="text" name="deposit" data-field-edit="t3" data-deposit="1568.00" value="1568.00" maxlength="8" readonly)
              +info-tooltip.__info.js-tooltip.hide-sm(title="In the absence of claims, the deposit is returned to the lessee in full at the end of the rental period.")
            +link()(data-edit-target="t3")._light-underline.__edit.js-field-edit Edit
        else
          +info-editable-field._bold 1568.00 &pound;
      +info-editable.__line
        +info-editable-name Total:
        if editable
          +info-editable-field._editpd
            +e.text_bold
              span(data-total-price) 3136.00
              span &pound;
        else
          +info-editable-field
            +e.text_bold
              span(data-total-price) 3136.00
              span &pound;
      +e.text_dark._small3 Total amount is first bill you need to pay to start the rent. You will receive first bill with that amount to pay.
    +form-panel._pd42.__panel_absolute.__panel_border
      +link-icon('select-arrow', 'a')._back._bold._no-shadow.__button.js-popup(href="#popup-cancellation") Cancel  Reservation
      +button('button')(type="submit").__button_w360 Confirm order summary
    block

mixin form-order-summary-mobile(editable)
  +form._white.form-order-summary_mobile&attributes(attributes)
    div.form-order-summary__scrollblock.js-scrollbar-light
      div.form-order-summary__inner-content
        div.form-order-summary__section
          +info-editable.__line
            +info-editable-name Space:
            +info-editable-field One Heddon Street Center
          +info-editable.__line
            +info-editable-name Offer type:
            +info-editable-field
              +offer-info.__offer
                +e.title._fz18 OFFICE SPACE
          +info-editable.__line
            +info-editable-name Offer description:
            if editable
              +info-editable-field._wide
                +e.text_wide
                  +e.INPUT.text-input_wide(type="text" name="description" value="Floor 5 Space Room 56" data-field-edit="t1")
            else
              +info-editable-field Floor 5 Space Room 56
          +info-editable.__line
            +info-editable-name Amount:
            +info-editable-field 1
        +e.dates.form-order-summary__dates
          if (editable)
            +e.line_flex._sm-mg30
              +e.dates-cell_big
                +form-section-wrapper
                  +form-box('Rent period start:', 'calendar2')._icon._icon_s15._lbl-nochange
                    +input.input_underline-light.input_normal.js-datepicker(type="text" name="startDate" value="26 May 2020" placeholder="Rent period start:" readonly)
            +e.dates-icon_mg-big
            +e.line_flex._sm-mg30
              +e.dates-cell_big
                +form-section-wrapper
                  +form-box('Duration:')._icon._icon_s15._lbl-nochange
                    +select.js-select-input(name="period" data-mobile-title="Rent period:")
                      - for (var i = 1; i <= 12; i++) {
                        if (i === 12)
                          option(value=i selected)!=(i + ' months')
                        else if (i === 1)
                          option(value=i)!=(i + ' month')
                        else
                          option(value=i)!=(i + ' months')
                      -}
          else
            +info-editable._date.__line
              +info-editable-name Rent period start:
              +info-editable-field
                +e.SPAN.item 26 May 2019
            +e.dates-icon
            +info-editable._date.__line
              +info-editable-name Duration:
              +info-editable-field
                +e.SPAN.item 12 months
        +e.text_dark._small3 All contracts at Spacepool are rolled, which means that the contract does not end at the end of the initial rental period, but the service provider has the right to change the terms of the contract.
        div.form-order-summary__section
          +info-editable.__line
            +info-editable-name Cancellation period
            +info-editable-field 48 hours
          +info-editable.__line
            +info-editable-name Price:
            if editable
              +info-editable-field
                +e.text
                  span &pound;&nbsp;/mo
                  +e.INPUT.text-input(type="text" name="price" maxlength="8" data-field-edit="t2" data-price="1568.00" value="1568.00")
            else
              +info-editable-field &pound; 1568.00/mo
          +info-editable.__line
            +info-editable-name Safety deposit:
            if editable
              +info-editable-field
                +e.text
                  span &pound;
                  +e.INPUT.text-input(type="text" name="deposit" data-field-edit="t3" data-deposit="1568.00" contenteditable="true" maxlength="8" value="4568.00")
                  +info-tooltip.__info.js-tooltip.hide-sm(title="In the absence of claims, the deposit is returned to the lessee in full at the end of the rental period.")
            else
              +info-editable-field._bold &pound; 4568.00
          +info-editable.__line
            +info-editable-name Total:
            if editable
              +info-editable-field._editpd
                +e.text_bold
                  span &pound;&nbsp;
                  span(data-total-price) 15668.00
            else
              +info-editable-field
                +e.text_bold
                  span &pound;&nbsp;
                  span(data-total-price) 15668.00
          +e.text_dark._small3 Total amount is first bill you need to pay to start the rent. You will receive first bill with that amount to pay.
    +form-panel.__panel_absolute.__panel_border.__panel_small
      +link-icon('select-arrow', 'a')._back._bold._no-shadow._mfz12.__button.js-popup(href="#popup-cancellation") Cancel  Reservation
      +button('button')(type="submit")._mob-smaller.__button Confirm
    block
